<% provide(:title, 'Edit Season') %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Seasons') %>

<div class="row">
  <div class="page-header col-md-11">
  	 <h1>Seasons
      <small>Edit</small>
    </h1>
  </div>
  <%= render 'seasons/tools_menu' %>
</div>

<div class="row">
  <%= simple_form_for @season do |f| %>
  	<%= show_error_messages @season %>
  	<%= render 'form', :f => f %>
	  
    <%= form_actions do %>
      <%= f.button :submit %>
      <%= link_to 'Cancel', season_path(@season), class: 'btn btn-link' %>
    <% end %>
  <% end %>
</div>