<% provide(:title, 'Add Season') %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Seasons') %>

<div class="page-header">
  <h1>Seasons
    <small>Add</small>
  </h1>
</div>

<div class="row">
  <%= simple_form_for @season do |f| %>
  	<%= show_error_messages @season %>
  	<%= render 'form', :f => f %>
	  
    <%= form_actions do %>
      <%= f.button :submit %>
      <%= link_to 'Cancel', seasons_path, class: 'btn btn-link' if can? :read, Season %>
    <% end %>
  <% end %>
</div>