<% dropdown_type = readable_klass(@dropdown.dropdown_type) %>
<% provide(:title, "Add Dropdown | #{dropdown_type}") %>
<% provide(:header_current, 'Administration') %>
<% provide(:sidebar_current, 'Dropdowns') %>

<div class="page-header">
  <h1><%= dropdown_type.pluralize %>
    <small>Add</small>
  </h1>
</div>

<div class="row">
  <%= simple_form_for @dropdown, url: admin_dropdowns_path do |f| %>
  	<%= show_error_messages @dropdown %>
    <%= render 'form', :f => f %>

    <%= form_actions do %>
      <%= f.button :submit %>
      <%= link_to 'Cancel', admin_dropdowns_path(type: @dropdown.dropdown_type), class: 'btn btn-link' if can? :read, @dropdown %>
    <% end %>
  <% end %>
</div>