<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Phone Numbers
      <span class="pull-right">
        <%= new_link nil, [:new, parent, :phone], title: 'Add Phone Number' if can? :create, parent => Phone %>
      </span>
    </h3>
  </div>
<% if phones.reload.length > 0 %>
  <table class="table table-striped">
  	<% phones.each do |phone| %>
  		<tr><td>
  			<strong><%= phone.phone_type %>: </strong><%= phone.phone_num %>
        &nbsp;<%= edit_link nil, [:edit, parent, phone], :id => "edit_phone_#{phone.id}" if can? :update, phone %>
  			&nbsp;<%= delete_link nil, [parent, phone], :id => "delete_phone_#{phone.id}" if can? :destroy, phone %>
  		</td></tr>
  	<% end %>
  </table>
<% else %>
  <div class="panel-body">
	  <p>To begin, click the <em class="text-info">Add Phone Number</em> link above.</p>
  </div>
<% end %>
</div>