<% provide(:title, 'Edit Phone Number') %>
<% if @phone.phoneable_type == "Person" %>
	<% provide(:header_current, 'People') %>
	<% provide(:sidebar_current, 'Employees') %>
<% end %>
<% if @phone.phoneable_type == "Account" %>
	<% provide(:header_current, 'Home') %>
	<% provide(:sidebar_current, 'Account') %>
<% end %>

<div class="row">
  <div class="page-header col-md-11">
  	 <h1>Phone Number
      <small>Edit</small>
    </h1>
  </div>
</div>

<div class="row">
  <%= simple_form_for [@phoneable, @phone] do |f| %>
  	<%= show_error_messages @phone %>
  	<%= render 'form', :f => f %>
	
    <%= form_actions do %>
      <%= f.button :submit %>
      
      <% if @phone.phoneable_type == "Person" %>
        <%= link_to 'Cancel', employee_path(@phoneable), class: 'btn btn-link' %>
      <% elsif @phone.phoneable_type == "Account" %>
        <%= link_to 'Cancel', account_path(@phoneable), class: 'btn btn-link' %>
      <% end %>
  	<% end %>
  <% end %>
</div>