<% provide(:title, 'Reset Your Password') %>

<div class="row">
  <div class="page-header col-md-11">
  	 <h1><%= yield(:title) %></h1>
  </div>
</div>

<div class="row">
  <%= simple_form_for @user, :url => password_reset_path(params[:id]) do |f| %>
    <%= show_error_messages @user %>
      
    <%= f.input :password, as: :password_prepend %>
    <%= f.input :password_confirmation, as: :password_prepend %>
	
    <%= form_actions do %>
    	<%= f.submit 'Update Password', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', login_path, class: 'btn btn-link' %>
    <% end %>
  <% end %>
</div>