<%= f.text_field :title %>
<%= f.select :location_id, @locations, { :include_blank => true } %>
<%= f.date_field :start_date %>

<div class="row">
	<div class="span3">
		<%= f.time_field :start_time, :label => 'From' %>
	</div>
	<div class="span3">
		<%= f.time_field :end_time, :label => 'To' %>
	</div>
</div>

<%= f.select :piece_id, @pieces, { :include_blank => true } %>
<%= f.select :employee_ids, @employees, {}, { :multiple => true, :class => 'input-xxlarge' } %>