<% provide(:title, 'Inactive Employees') %>
<% provide(:header_current, 'People') %>
<% provide(:sidebar_current, 'Inactive Employees') %>

<div class="row">
  <div class="page-header col-md-11">
  	 <h1>Employees
       <small>Inactive</small>
     </h1>
  </div>
  <%= render 'employees/tools_menu' %>
</div>

<div class="row">
  <% if @employees.length > 0 %>
  	<table class="table table-striped">
  		<thead>
  	  	<tr>
  	  		<th>Name</th>
  	  		<th>Phone</th>
          <th>Email</th>
  	  		<th class="mash-col-2-btn">&nbsp;</th>
  	  	</tr>
  	  </thead>
  	  <tbody>
  	  	<% @employees.each do |employee| %>
  				<tr>
  					<td>
  						<% if allow? "employees", "show" %>
  							<%= link_to employee.name, employee_path(employee), :id => "show_#{employee.id}" %>
              <% else %>
                <%= employee.name %>
  						<% end %>
            </td>
            <td>
              <ul class="list-unstyled">
              <% employee.phones.each do |phone| %>
                <li><strong><%= phone.phone_type[0] %>: </strong><%= phone.phone_num %></li>
              <% end %>
              </ul>
            </td>
  					<td><%= employee.email %></td>
  					<td class="mash-col-2-btn">
  						<% if allow? "employees", "activate" %>
  							<%= activate_button nil, activate_employee_path(employee), :class => 'btn-xs', :id => "activate_#{employee.id}" %>
  						<% end %>
  						<% if allow? "employees", "destroy" %>
  							<%= delete_button nil, employee, :class => 'btn-xs', :id => "delete_#{employee.id}" %>
  						<% end %>
  					</td>
  				</tr>
  			<% end %>
  		</tbody>
  	</table>
  	<%= will_paginate(class: 'pagination', previous_label: "&laquo;", next_label: "&raquo;")%>
	
  <% else %>
  	<p>No employees are inactive.</p>
  <% end %>
</div>