<% provide(:title, 'Inactive Employees') %>
<% provide(:header_current, 'Employees') %>

<h1>Inactive Employees</h1>

<div class="row">
	<table class="table table-striped">
		<thead>
	  	<tr>
	  		<th>Name</th>
	  		<th>Role</th>
	  		<th style="width:70px;">&nbsp;</th>
	  	</tr>
	  </thead>
	  <tbody>
	  	<% @employees.each do |employee| %>
				<tr>
					<td><%= employee.name %><br /></td>
					<td><%= employee.role %></td>
					<td>
						<% if allow? "employees", "activate" %>
							<%= activate_button nil, activate_employee_path(employee), :class => 'btn-small', :id => "activate_#{employee.id}" %>
						<% end %>
						<% if allow? "employees", "destroy" %>
							<%= delete_button nil, employee, :class => 'btn-small', :id => "delete_#{employee.id}" %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<div class="row">
		<div class="span10 offset2">
			<%= will_paginate(class: 'pagination',
						previous_label: "&laquo;",
			    	next_label: "&raquo;"
					)%>
		</div>
	</div>
	
	<% unless @employees.length > 0 %>
		<div class="alert">No records found</div>
	<% end %>
	</div>
</div>