<% provide(:title, 'Inactive Employees') %>
<% provide(:header_current, 'Employees') %>
<% provide(:current, 'InactiveEmployees') %>

<h1>Inactive Employees</h1>

<div class="span9">
	<table class="table table-striped">
		<thead>
	  	<tr>
	  		<th>Name</th>
	  		<th>Role</th>
	  		<th>&nbsp;</th>
	  	</tr>
	  </thead>
	  <tbody>
	  	<% @employees.each do |employee| %>
				<tr>
					<td><%= employee.name %><br /></td>
					<td><%= employee.role %></td>
					<td>
						<% if allow? "employees", "activate" %>
							<%= link_to 'Activate', activate_employee_path(employee), :class => 'btn btn-small btn-success', :id => "activate_#{employee.id}" %>
						<% end %>
						<% if allow? "employees", "destroy" %>
							<%= link_to 'Delete', employee, method: :delete, confirm: "Delete?", :class => 'btn btn-small btn-danger', :id => "delete_#{employee.id}" %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<div class="row">
		<div class="span10 offset2">
			<%= will_paginate(class: 'pagination',
						previous_label: "&laquo;",
			    	next_label: "&raquo;"
					)%>
		</div>
	</div>
	
	<% unless @employees.length > 0 %>
		<div class="alert">No records found</div>
	<% end %>
	</div>

<div class="span3">
	<%= render 'shared/subnav' %>
</div>