<% provide(:title, 'Employee') %>
<% provide(:header_current, 'Employees') %>
<% provide(:current, 'ShowEmployee') %>

<h1><%= @employee.full_name %></h1>

<div class="show-ui span9">
	<div class="row">
		<div class="label-ui span2"><%= Employee.human_attribute_name(:active) %></div>
		<div class="text-ui span4"><%= @employee.active ? "Active" : "Inactive" %></div>
	</div>
	<div class="row">
		<div class="label-ui span2"><%= Employee.human_attribute_name(:role) %></div>
		<div class="text-ui span4"><%= @employee.role %></div>
	</div>

	<div class="row">
		<div class=" span3">
			<h2>Addresses</h2>
			<% @employee.addresses.each do |addr| %>
				<address>
					<strong><%= addr.addr_type %> Address</strong><br />
					<%= addr.addr %><br />
					<%= addr.addr2 if addr.addr2.present? %>
					<%= tag(:br) if addr.addr2.present? %>
					<%= "#{addr.city}, #{addr.state} #{addr.zipcode}" %><br />
					<%= link_to "Edit", [:edit, @employee, addr], :id => "edit_address_#{addr.id}" %>
					<%= link_to 'Delete', [@employee, addr], method: :delete, confirm: "Delete?", :id => "delete_address_#{addr.id}" %>
				</address>
			<% end %>
			<%= link_to "Add Address", [:new, @employee, :address] %>
		</div>
		
		<div class="span3">
			<h2>Phone Numbers</h2>
			<div class="row-ui">
				<%= @employee.phone %>
			</div>
		</div>
		
		<div class="span3">
			<h2>Email</h2>
			<div class="row-ui">
				<%= @employee.email %>
			</div>
		</div>
	</div>
</div>

<div class="span3">
	<%= render 'shared/subnav' %>
</div>