<% provide(:title, 'Employee') %>
<% provide(:header_current, 'Employees') %>

<h1><%= @employee.full_name %></h1>

<div class="show-ui">
	<div class="row">
		<div class="label-ui span2"><%= Employee.human_attribute_name(:active) %></div>
		<div class="text-ui span4"><%= active_inactive(@employee.active) %></div>
	</div>
	<div class="row">
		<div class="label-ui span2"><%= Employee.human_attribute_name(:role) %></div>
		<div class="text-ui span4"><%= @employee.role %></div>
	</div>
	
	<div class="row text-center">
		<% if allow? "employees", "edit" %>
			<%= edit_button "Edit", edit_employee_path(@employee) %>
		<% end %>
	</div>

	<div class="row">
		<div class="span3">
			<h2>Addresses</h2>
			<% @employee.addresses.each do |addr| %>
				<address>
					<strong><%= addr.addr_type %> Address</strong>
					<%= edit_link nil, [:edit, @employee, addr], :id => "edit_address_#{addr.id}" %>
					<%= delete_link nil, [@employee, addr], :id => "delete_address_#{addr.id}" %>
					<br />
					<%= addr.addr %><br />
					<%= addr.addr2 if addr.addr2.present? %>
					<%= tag(:br) if addr.addr2.present? %>
					<%= "#{addr.city}, #{addr.state} #{addr.zipcode}" %><br />
				</address>
			<% end %>
			<%= new_link "Add Address", [:new, @employee, :address] %>
		</div>
		
		<div class="span3">
			<h2>Phone Numbers</h2>
			<div class="row-ui">
				<%= @employee.phone %>
			</div>
		</div>
		
		<div class="span3">
			<h2>Email</h2>
			<div class="row-ui">
				<%= @employee.email %>
			</div>
		</div>
	</div>
</div>