<% provide(:title, @employee.full_name) %>
<% provide(:header_current, 'People') %>
<% provide(:sidebar_current, 'Employees') %>

<div class="row">
  <div class="page-header col-md-11">
  	 <h1><%= yield(:title) %>
       <small><%= @employee.status %></small>
     </h1>
  </div>
  <%= render 'employees/tools_menu' %>
</div>

<div class="row mash-show">
  <%= render 'employees/tabs' %>
  <div class="mash-body">
    <%= render 'employees/detail' %>
    
    <div class="row" style="margin-top:15px;">
      <div class="col-md-offset-1 col-md-5">
        <%= render 'addresses/table', parent: @employee, addresses: @employee.addresses %>
      </div>

      <div class="col-md-5">
        <%= render 'phones/table', parent: @employee, phones: @employee.phones %>
      </div>
    </div>

  </div>
</div>