<% provide(:title, 'Edit Account') %>
<% provide(:header_current, 'Administration') %>
<% provide(:sidebar_current, 'Accounts') %>

<div class="page-header">
	<h1>Accounts
    <small>Edit</small>
  </h1>
</div>

<div class="row">
  <div class="alert alert-info">
  	<%= content_tag(:span, nil, class: 'glyphicon glyphicon-exclamation-sign') %> <strong>Don't Forget!</strong>
  	Update Stripe if you make changes to the Status, Customer Id, or Subscription.
  </div>

  <%= simple_form_for @account, url: admin_account_path(@account) do |f| %>
  	<%= show_error_messages @account %>
  	<%= render 'form', :f => f %>

    <%= form_actions do %>
      <%= f.button :submit %>
      <%= link_to 'Cancel', admin_accounts_path, class: 'btn btn-link' if can? :read, Account && current_user.superadmin? %>
    <% end %>
  <% end %>
</div>