<% provide(:title, 'Edit Account') %>
<% provide(:header_current, 'Administration') %>
<% provide(:sidebar_current, 'Accounts') %>

<div class="page-header">
	<h1>
    Accounts
    <small>Edit</small>
  </h1>
</div>

<div class="row">
  <div class="alert alert-info">
  	<%= content_tag(:span, nil, class: 'glyphicon glyphicon-exclamation-sign') %> <strong>Don't Forget!</strong>
  	Update Stripe if you make changes to the Status, Customer Id, or Subscription.
  </div>

  <%= form_for @account, url: admin_account_path(@account), :builder => BootstrapFormBuilder, :html => { :class => 'form-horizontal' } do |f| %>
  	<%= f.error_messages %>
  	<%= render 'form', :f => f %>

  	<%= f.submit_group do %>
  		<%= f.submit_primary 'Update' %>
      <%= link_to 'Cancel', admin_accounts_path, class: 'btn btn-link' %>
  	<% end %>
  <% end %>
</div>