<% provide(:title, 'Edit Company Class') %>
<% provide(:header_current, 'Scheduling') %>
<% provide(:current, 'EditCompanyClass') %>

<h1>Edit Company Class</h1>

<div class="span9">
	<%= form_for @cclass, :html => { :class => 'form-horizontal' } do |f| %>
		<%= render 'shared/error_messages', :object => f.object %>
		<%= render 'form', :f => f %>
		
		<%= render 'shared/form_submit', :f => f, :action_text => 'Update' %>
	<% end %>
</div>

<div class="span3">	
	<%= render 'shared/subnav' %>
</div>