<% provide(:title, 'Company Class') %>
<% provide(:header_current, 'Scheduling') %>

<h1><%= @cclass.title %></h1>

<div class="row">
	<div class="show-ui">
		<div class="row">
			<div class="label-ui span2">Location</div>
			<div class="text-ui span7"><%= @cclass.location.name %></div>
		</div>
		
		<div class="row">
			<div class="label-ui span2">Date</div>
			<div class="text-ui span7"><%= @cclass.start_date %></div>
		</div>
		
		<div class="row">
			<div class="label-ui span2">Time</div>
			<div class="text-ui span7"><%= @cclass.start_time %> to <%= @cclass.end_time %></div>
		</div>
		
		<div class="row">
			<div class="label-ui span2">Invitees</div>
			<div class="text-ui span7">
				<ul class="unstyled">
					<% @cclass.employees.each do |employee| %>
						<li><%= employee.full_name %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="row text-center">
		<% if allow? "company_classes", "edit" %>
			<%= edit_button "Edit", edit_company_class_path(@cclass) %>
		<% end %>
	</div>
</div>