<% provide(:title, 'Subscription Plans') %>
<% provide(:header_current, 'Administration') %>
<% provide(:sidebar_current, 'Subscription Plans') %>

<div class="page-header">
  <h1><%= yield(:title) %>
    <div class="pull-right">
      <%= new_button "Add Subscription Plan", new_admin_subscription_plan_path if can? :create, SubscriptionPlan %>
    </div>
  </h1>
</div>

<div class="row">
  <% if @subscription_plans.length > 0 %>
  	<table class="table table-striped">
  		<thead>
  	  	<tr>
  	  		<th>Name</th>
  	  		<th>Amount</th>
  	  		<th class="mash-col-1-btn">&nbsp;</th>
  	  	</tr>
  	  </thead>
  	  <tbody>
  	  	<% @subscription_plans.each do |plan| %>
  				<tr>
  					<td>
  						<% if can? :update, plan %>
  							<%= link_to plan.name, edit_admin_subscription_plan_path(plan), :id => "edit_#{plan.id}" %>
              <% else %>
                <%= plan.name %>
  						<% end %>
            </td>
  					<td><%= number_to_currency(plan.amount) %></td>
  					<td class="mash-col-1-btn">
  						<%= delete_button nil, admin_subscription_plan_path(plan), :class => 'btn-xs', :id => "delete_#{plan.id}" if can? :destroy, plan %>
  					</td>
  				</tr>
  			<% end %>
  		</tbody>
  	</table>
	
  <% else %>
  	<p>No subscription plans were found.
  	</p>
  	<p>To begin, click the <em class="text-info">Add Subscription Plan</em> link above.</p>
  <% end %>
</div>