<% provide(:title, 'Subscription Plans') %>
<% provide(:header_current, 'Administration') %>
<% provide(:sidebar_current, 'Subscription Plans') %>

<div class="row">
  <div class="page-header col-md-11">
  	 <h1><%= yield(:title) %></h1>
  </div>
  <%= render 'admin/subscription_plans/tools_menu' %>
</div>

<div class="row">
  <% if @plans.length > 0 %>
  	<table class="table table-striped">
  		<thead>
  	  	<tr>
  	  		<th>Name</th>
  	  		<th>Amount</th>
  	  		<th class="mash-col-1-btn">&nbsp;</th>
  	  	</tr>
  	  </thead>
  	  <tbody>
  	  	<% @plans.each do |plan| %>
  				<tr>
  					<td>
  						<% if allow? "subscription_plans", "edit" %>
  							<%= link_to plan.name, edit_admin_subscription_plan_path(plan), :id => "edit_#{plan.id}" %>
              <% else %>
                <%= plan.name %>
  						<% end %>
            </td>
  					<td><%= number_to_currency(plan.amount) %></td>
  					<td class="mash-col-1-btn">
  						<% if allow? "subscription_plans", "destroy" %>
  							<%= delete_button nil, admin_subscription_plan_path(plan), :class => 'btn-xs', :id => "delete_#{plan.id}" %>
  						<% end %>
  					</td>
  				</tr>
  			<% end %>
  		</tbody>
  	</table>
	
  <% else %>
  	<p>No subscription plans were found.
  	</p>
  	<p>To begin, click the <em class="text-info">Add Subscription Plan</em> link above.</p>
  <% end %>
</div>