<% provide(:title, 'Subscription Plans') %>
<% provide(:header_current, 'Administration') %>
<% provide(:sidebar_current, 'Subscription Plans') %>

<div class="page-header">
	<h1><%= yield(:title) %></h1>
</div>
<div class="well well-sm mash-well-link">
	<% if allow? "subscription_plans", "new" %>
		<%= new_link "Add Subscription Plan", new_admin_subscription_plan_path %>
	<% end %>
</div>

<% if @plans.length > 0 %>
	<table class="table table-striped">
		<thead>
	  	<tr>
	  		<th>Name</th>
	  		<th>Amount</th>
	  		<th style="width:70px;">&nbsp;</th>
	  	</tr>
	  </thead>
	  <tbody>
	  	<% @plans.each do |plan| %>
				<tr>
					<td><%= plan.name %></td>
					<td><%= number_to_currency(plan.amount) %></td>
					<td>
						<% if allow? "subscription_plans", "edit" %>
							<%= edit_button nil, edit_admin_subscription_plan_path(plan), :class => 'btn-xs', :id => "edit_#{plan.id}" %>
						<% end %>
						<% if allow? "subscription_plans", "destroy" %>
							<%= delete_button nil, admin_subscription_plan_path(plan), :class => 'btn-xs', :id => "delete_#{plan.id}" %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	
<% else %>
	<p>No subscription plans were found.
	</p>
	<p>To begin, click the <em class="text-info">Add Subscription Plan</em> link above.</p>
<% end %>