<% provide(:title, 'Add Subscription Plan') %>
<% provide(:header_current, 'Administration') %>
<% provide(:sidebar_current, 'Subscription Plans') %>

<div class="page-header">
  <h1>Subscription Plans
    <small>New</small>
  </h1>
</div>

<div class="row">
  <div class="alert alert-info">
    <%= content_tag(:span, nil, class: 'glyphicon glyphicon-exclamation-sign') %> <strong>Don't Forget!</strong>
    Create the Subscription Plan in the Stripe dashboard.
  </div>
  
  <%= simple_form_for @subscription_plan, :url => admin_subscription_plans_path do |f| %>
    <%= show_error_messages @subscription_plan %>
    <%= render 'form', :f => f %>
	
    <%= form_actions do %>
      <%= f.button :submit %>
      <%= link_to 'Cancel', admin_subscription_plans_path, class: 'btn btn-link' if can? :read, @subscription_plan %>
    <% end %>
  <% end %>
</div>