<% provide(:title, 'Add Subscription Plan') %>
<% provide(:header_current, 'Administration') %>
<% provide(:sidebar_current, 'Subscription Plans') %>

<div class="row">
  <div class="page-header col-md-11">
  	 <h1>Subscription Plans
       <small>New</small>
     </h1>
  </div>
  <%= render 'admin/subscription_plans/tools_menu' %>
</div>

<div class="row">
  <div class="alert alert-info">
    <%= content_tag(:span, nil, class: 'glyphicon glyphicon-exclamation-sign') %> <strong>Don't Forget!</strong>
    Create the Subscription Plan in the Stripe dashboard.
  </div>
  
  <%= simple_form_for @plan, :url => admin_subscription_plans_path do |f| %>
    <%= show_error_messages @plan %>
    <%= render 'form', :f => f %>
	
    <%= form_actions do %>
      <%= f.button :submit %>
      <%= link_to 'Cancel', admin_subscription_plans_path, class: 'btn btn-link' %>
    <% end %>
  <% end %>
</div>