<div class="dtl-form">
	<div class="row">
		<div class="dtl-label col-sm-2 col-md-2"><%= Event.human_attribute_name(:title) %></div>
		<div class="dtl-text col-sm-4 col-md-4"><%= @event.title %></div>
    
		<div class="dtl-label col-sm-2 col-md-2"><%= Event.human_attribute_name(:location) %></div>
		<div class="dtl-text col-sm-4 col-md-4"><%= name_or_tbd(@event.location) %></div>
	</div>
  
	<div class="row">
		<div class="dtl-label col-sm-2 col-md-2">Description</div>
		<div class="dtl-text col-sm-10 col-md-10"><%= simple_format(@event.schedulable.comment) %></div>
	</div>
  
	<div class="row">
		<div class="dtl-label col-sm-2 col-md-2"><%= Event.human_attribute_name(:start_date) %></div>
		<div class="dtl-text col-sm-4 col-md-4"><%= @event.start_date(:date_words) %></div>
	</div>
  
	<div class="row">
		<div class="dtl-label col-sm-2 col-md-2"><%= Event.human_attribute_name(:time_range) %></div>
		<div class="dtl-text col-sm-4 col-md-4"><%= @event.time_range %></div>
    
		<div class="dtl-label col-sm-2 col-md-2"><%= Event.human_attribute_name(:duration) %></div>
		<div class="dtl-text col-sm-4 col-md-4"><%= min_to_words(@event.duration) %></div>
	</div>
  
	<div class="row">
		<div class="dtl-label col-sm-2 col-md-2"><%= Event.human_attribute_name(:comment) %></div>
		<div class="dtl-text col-sm-10 col-md-10"><%= simple_format(@event.comment) %></div>
	</div>
</div>