<% type = @event.type.underscore.humanize.titleize %>
<% provide(:title, "Edit #{type}") %>
<% provide(:header_current, 'Calendar') %>
<% provide(:sidebar_current, type.pluralize) %>

<div class="page-header">
  <h1><%= type.pluralize %>
    <small>Edit</small>
  </h1>
</div>

<div class="row mash-show">
	<%= render 'events/tabs' %>
	
	<div class="mash-body">
    <%= simple_form_for @event, as: :event do |f| %>
    	<%= show_error_messages @event %>
    	<%= render 'form', :f => f %>
      
    	<%= form_actions do %>
    		<% if @event.event_series %>
    				<button class="btn btn-primary" data-toggle="modal" data-target="#updateModal">Update</button>
    				<%= render 'update_series_modal', :f => f, :event => @event %>
    			<% else %>
    				<%= f.button :submit %>
    			<% end %>
		
    		<% if can? :destroy, @event %>
    			<% if @event.event_series %>
    				<button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><%= content_tag(:span, nil, class: "glyphicon glyphicon-trash") %> Delete</button>
    				<%= render 'delete_series_modal', :event => @event %>
    			<% else %>
    				<%= delete_button 'Delete', @event %>
    			<% end %>
    		<% end %>
        
        <%= link_to 'Cancel', events_path+'/'+@event.start_at.strftime('%Y/%-m/%-d'), class: 'btn btn-link' if can? :read, @event %>
    	<% end %>
    <% end %>
  </div>
</div>