<% provide(:title, "#{@cast.season_piece.season.name} | #{@cast.season_piece.piece.name} | Edit #{@cast.name}") %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Seasons') %>

<div class="row">
  <div class="page-header col-md-11">
  	 <h1>Edit <%= @cast.name %> for <%= @cast.season_piece.piece.name %>
      <small><%= @cast.season_piece.season.name %></small>
    </h1>
  </div>
</div>

<div class="row">
  <%= simple_form_for @casting do |f| %>
  	<%= show_error_messages @casting %>
  	<%= render 'form', :f => f %>
	  
    <%= form_actions do %>
      <%= f.button :submit %>
      <%= link_to 'Cancel', season_piece_cast_path(@cast.season_piece, @cast), class: 'btn btn-link' %>
    <% end %>
  <% end %>
</div>