<% provide(:title, "#{@cast.season_piece.season.name} | #{@cast.season_piece.piece.name} | Edit #{@cast.name}") %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Seasons') %>

<div class="row">
  <div class="page-header col-md-11">
  	 <h1>Edit <%= @cast.name %> for <%= @cast.season_piece.piece.name %>
      <small><%= @cast.season_piece.season.name %></small>
    </h1>
  </div>
</div>

<div class="row">
  <%= form_for @casting, :builder => BootstrapFormBuilder, :html => { :class => 'form-horizontal' } do |f| %>
  	<%= f.error_messages %>
  	<%= render 'form', :f => f %>
	
  	<%= f.submit_group do %>
  		<%= f.submit_primary 'Update' %>
      <%= link_to 'Cancel', season_piece_cast_path(@cast.season_piece, @cast), class: 'btn btn-link' %>
  	<% end %>
  <% end %>
</div>