<% provide(:title, "#{@piece.name} | Edit Scene") %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Pieces') %>

<div class="page-header">
	<h1>Edit Scene for <%= @piece.name %></h1>
</div>

<%= form_for @scene, :builder => BootstrapFormBuilder, :html => { :class => 'form-horizontal' } do |f| %>
	<%= f.error_messages %>
	<%= render 'form', :f => f %>
	
	<%= f.submit_group do %>
		<%= f.submit_primary 'Update' %>
	<% end %>
<% end %>