<% provide(:title, "#{@piece.name} | Scenes") %>
<% provide(:header_current, 'Scheduling') %>
<% provide(:current, 'Scenes') %>

<h1><%= @piece.name %></h1>

<div class="row">
	<%= render 'pieces/tabs' %>

	<div class="row text-center">
		<% if allow? "scenes", "new" %>
			<%= new_button "Add Scene", new_piece_scene_path(@piece) %>
		<% end %>
		
		<div class="btn-group text-left">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="icon-circle-arrow-down"></i> Download <b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><%= pdf_link "PDF", piece_scenes_path(@piece, format: "pdf") %></li>
			</ul>
		</div>
	</div>
	
	<table class="table table-striped">
		<thead>
	  	<tr>
	  		<th>Scene</th>
	  		<th>Characters</th>
	  		<th>Track</th>
	  		<th style="width:70px;">&nbsp;</th>
	  	</tr>
	  </thead>
	  <tbody id="scenes" data-update-url="<%= sort_scenes_url %>">
	  	<% @scenes.each do |scene| %>
				<%= content_tag_for :tr, scene do %>
					<td>
						<% if allow? "scenes", "sort" %>
							<%= content_tag :i, nil, class: 'handle icon-resize-vertical' %>
						<% end %>
						<%= scene.name %>
					</td>
					<td><%= scene.characters.map { |char| char.name }.join(", ") %></td>
					<td><%= scene.track %></td>
					<td>
						<% if allow? "scenes", "edit" %>
							<%= edit_button nil, edit_scene_path(scene), :class => 'btn-small', :id => "edit_#{scene.id}" %>
						<% end %>
						<% if allow? "scenes", "destroy" %>
							<%= delete_button nil, scene, :class => 'btn-small', :id => "delete_#{scene.id}" %>
						<% end %>
					</td>
				<% end %>
			<% end %>
		</tbody>
	</table>

	<% unless @scenes.length > 0 %>
		<div class="alert">There are currently no scenes. Click on 'Add Scene' to get started.</div>
	<% end %>
</div>