<% provide(:title, "#{@piece.name} | Scenes") %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Pieces') %>

<div class="page-header">
  <h1><%= @piece.name %>
    <small>Scenes</small>
    <div class="pull-right">
      <%= new_button "Add Scene", new_piece_scene_path(@piece) if can? :create, @piece.scenes.build %>
      <%= pdf_link "Download PDF", piece_scenes_path(@piece, format: "pdf"), class: 'btn btn-default' if can? :read, Scene %>
    </div>
  </h1>
</div>

<div class="row mash-show">
	<%= render 'pieces/tabs' %>
	
	<div class="mash-body">
		<% if @scenes.length > 0 %>
			<table class="table table-striped">
				<thead>
			  	<tr>
            <th class="mash-col-1-btn">&nbsp;</th>
			  		<th>Scene</th>
			  		<th>Characters</th>
			  		<th>Track</th>
			  		<th class="mash-col-1-btn">&nbsp;</th>
			  	</tr>
			  </thead>
			  <tbody id="scenes" class="position-sort" data-update-url="<%= sort_scenes_url %>">
			  	<% @scenes.each do |scene| %>
						<%= content_tag_for :tr, scene do %>
							<td class="mash-col-1-btn">
								<%= content_tag :span, nil, class: 'handle glyphicon glyphicon-resize-vertical', title: 'Drag to reorder' if can? :sort, scene %>
							</td>
              <td>
								<% if can? :update, scene %>
									<%= link_to scene.name, edit_scene_path(scene), :id => "edit_#{scene.id}" %>
                <% else %>
                  <%= scene.name %>
								<% end %>
              </td>
							<td><%= scene.characters.map { |char| char.name }.join(", ") %></td>
							<td><%= scene.track %></td>
							<td class="mash-col-1-btn">
								<%= delete_button nil, scene, :class => 'btn-xs', :id => "delete_#{scene.id}" if can? :destroy, scene %>
							</td>
						<% end %>
					<% end %>
				</tbody>
			</table>
			
		<% else %>
			<p>There are currently no scenes for this piece.
			</p>
			<p>To begin, click the <em class="text-info">Add Scene</em> link above.</p>
		<% end %>
	</div>
</div>