<% provide(:title, "#{@piece.name} | Scenes") %>
<% provide(:header_current, 'Scheduling') %>
<% provide(:current, 'Scenes') %>

<h1>Scenes for <%= @piece.name %></h1>

<div class="span9">
	<table class="table table-striped">
		<thead>
	  	<tr>
	  		<th>Scene</th>
	  		<th>Characters</th>
	  		<th>Track</th>
	  		<th>&nbsp;</th>
	  	</tr>
	  </thead>
	  <tbody id="scenes" data-update-url="<%= sort_scenes_url %>">
	  	<% @scenes.each do |scene| %>
				<%= content_tag_for :tr, scene do %>
					<td>
						<% if allow? "scenes", "sort" %>
							<span class="handle"><span class="ui-icon ui-icon-arrowthick-2-n-s" /></span>
						<% end %>
						<%= scene.name %>
					</td>
					<td></td>
					<td><%= scene.track %></td>
					<td>
						<% if allow? "scenes", "edit" %>
							<%= link_to 'Edit', edit_scene_path(scene), :class => 'btn btn-small', :id => "edit_#{scene.id}" %>
						<% end %>
						<% if allow? "scenes", "destroy" %>
							<%= link_to 'Delete', scene, method: :delete, confirm: "Delete?", :class => 'btn btn-small btn-danger', :id => "delete_#{scene.id}" %>
						<% end %>
					</td>
				<% end %>
			<% end %>
		</tbody>
	</table>

	<% unless @scenes.length > 0 %>
		<div class="alert">There are currently no scenes. Click on 'Add Scene' to get started.</div>
	<% end %>
</div>

<div class="span3">
	<%= render 'shared/subnav' %>
</div>