<% provide(:title, "#{@piece.name} | Add Scene") %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Pieces') %>

<div class="row">
  <div class="page-header col-md-11">
  	 <h1>
      <%= @piece.name %>
      <small>Add Scene</small>
    </h1>
  </div>
  <%= render 'pieces/tools_menu' %>
</div>

<div class="row mash-show">
	<%= render 'pieces/tabs' %>
	
	<div class="mash-body">
    <%= form_for [@piece, @scene], :builder => BootstrapFormBuilder, :html => { :class => 'form-horizontal' } do |f| %>
    	<%= f.error_messages %>
    	<%= render 'form', :f => f %>
	
    	<%= f.submit_group do %>
    		<%= f.submit_primary 'Create' %>
        <%= link_to 'Cancel', piece_scenes_path(@piece), class: 'btn btn-link' %>
    	<% end %>
    <% end %>
  </div>
</div>