<% provide(:title, "#{@piece.name} | Add Scene") %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Pieces') %>

<div class="page-header">
  <h1><%= @piece.name %>
    <small>Add Scene</small>
  </h1>
</div>

<div class="row mash-show">
	<%= render 'pieces/tabs' %>
	
	<div class="mash-body">
    <%= simple_form_for [@piece, @scene] do |f| %>
    	<%= show_error_messages @scene %>
    	<%= render 'form', :f => f %>
	
      <%= form_actions do %>
        <%= f.button :submit %>
        <%= link_to 'Cancel', piece_scenes_path(@piece), class: 'btn btn-link' if can? :read, @piece => Scene %>
      <% end %>
    <% end %>
  </div>
</div>