<% provide(:title, 'Edit Rehearsal Week Settings') %>
<% provide(:header_current, 'Administration') %>
<% provide(:current, 'EditRehearsal') %>

<h1>Edit Rehearsal Week Settings</h1>

<div class="span9">
	<%= form_for @agma_profile, :builder => BootstrapFormBuilder, :html => { :class => 'form-horizontal' } do |f| %>
		<%= f.error_messages %>
		<%= render 'form', :f => f %>
		<%= f.submit 'Update', :class => 'btn btn-primary' %>
	<% end %>
</div>

<div class="span3">
	<%= render 'shared/subnav' %>
</div>