<% provide(:title, 'Rehearsal Week Settings') %>
<% provide(:header_current, 'Administration') %>

<h1>Rehearsal Week Settings</h1>

<div class="show-ui">
	<div class="row">
		<div class="label-ui span2"><%= AgmaProfile.human_attribute_name(:rehearsal_start_time) %></div>
		<div class="text-ui span6"><%= @agma_profile.rehearsal_start_time %></div>
	</div>
	<div class="row">
		<div class="label-ui span2"><%= AgmaProfile.human_attribute_name(:rehearsal_end_time) %></div>
		<div class="text-ui span6"><%= @agma_profile.rehearsal_end_time %></div>
	</div>
	<div class="row">
		<div class="label-ui span2"><%= AgmaProfile.human_attribute_name(:rehearsal_max_hrs_per_week) %></div>
		<div class="text-ui span6"><%= @agma_profile.rehearsal_max_hrs_per_week %> hours/week</div>
	</div>
	<div class="row">
		<div class="label-ui span2"><%= AgmaProfile.human_attribute_name(:rehearsal_max_hrs_per_day) %></div>
		<div class="text-ui span6"><%= @agma_profile.rehearsal_max_hrs_per_day %> hours/day</div>
	</div>
	<div class="row">
		<div class="label-ui span2"><%= AgmaProfile.human_attribute_name(:rehearsal_increment_min) %></div>
		<div class="text-ui span6"><%= @agma_profile.rehearsal_increment_min %> minutes</div>
	</div>
	<div class="row">
		<div class="label-ui span2"><%= AgmaProfile.human_attribute_name(:class_break_min) %></div>
		<div class="text-ui span6"><%= @agma_profile.class_break_min %> minutes</div>
	</div>
	
	<div class="row text-center">
		<% if allow? "agma_profiles", "edit" %>
			<%= edit_button "Edit", edit_agma_profile_path(@agma_profile) %>
		<% end %>
	</div>
</div>