<% provide(:title, 'Rehearsal Week Settings') %>
<% provide(:header_current, 'Administration') %>
<% provide(:current, 'Rehearsal') %>

<h1>Rehearsal Week Settings</h1>

<div class="show-ui span9">
	<div class="row">
		<div class="label-ui span2"><%= AgmaProfile.human_attribute_name(:rehearsal_start_time) %></div>
		<div class="text-ui span6"><%= @agma_profile.rehearsal_start_time %></div>
	</div>
	<div class="row">
		<div class="label-ui span2"><%= AgmaProfile.human_attribute_name(:rehearsal_end_time) %></div>
		<div class="text-ui span6"><%= @agma_profile.rehearsal_end_time %></div>
	</div>
	<div class="row">
		<div class="label-ui span2"><%= AgmaProfile.human_attribute_name(:rehearsal_max_hrs_per_week) %></div>
		<div class="text-ui span6"><%= @agma_profile.rehearsal_max_hrs_per_week %> hours/week</div>
	</div>
	<div class="row">
		<div class="label-ui span2"><%= AgmaProfile.human_attribute_name(:rehearsal_max_hrs_per_day) %></div>
		<div class="text-ui span6"><%= @agma_profile.rehearsal_max_hrs_per_day %> hours/day</div>
	</div>
	<div class="row">
		<div class="label-ui span2"><%= AgmaProfile.human_attribute_name(:rehearsal_increment_min) %></div>
		<div class="text-ui span6"><%= @agma_profile.rehearsal_increment_min %> minutes</div>
	</div>
	<div class="row">
		<div class="label-ui span2"><%= AgmaProfile.human_attribute_name(:class_break_min) %></div>
		<div class="text-ui span6"><%= @agma_profile.class_break_min %> minutes</div>
	</div>
	<% if allow? "accounts", "edit" %>
		<div class="row row-action">
			<div class="offset2">
				<%= link_to "Edit", edit_agma_profile_path(@agma_profile), :class => 'btn' %>
			</div>
		</div>
	<% end %>
</div>

<div class="span3">
	<%= render 'shared/subnav' %>
</div>