<% provide(:title, 'Users') %>
<% provide(:header_current, 'People') %>
<% provide(:sidebar_current, 'Users') %>

<div class="page-header">
  <h1><%= yield(:title) %></h1>
</div>

<div class="row">
  <% if @users.length > 0 %>
  <table class="table table-striped">
  	<thead>
    	<tr>
    		<th>Employee</th>
    		<th>Username</th>
    		<th class="mash-col-1-btn">&nbsp;</th>
    	</tr>
    </thead>
    <tbody>
    	<% @users.each do |user| %>
  			<tr>
  				<td>
            <% if can? :read, user.person.profile %>
              <%= link_to user.person.name, user.person.profile %>
            <% else %>
              <%= user.person.name %>
            <% end %>
          </td>
  				<td><%= user.username %></td>
  				<td class="mash-col-1-btn">
  					<%= delete_button nil, user, :class => 'btn-xs', :id => "delete_#{user.id}" if can? :destroy, user %>
  				</td>
  			</tr>
  		<% end %>
  	</tbody>
  </table>
  <%= will_paginate(class: 'pagination', previous_label: "&laquo;", next_label: "&raquo;")%>

  <% else %>
  	<p>You can grant staff members access to your account by creating a user login for them.  
  		Every staff member should have their own username and password to the system. This 
  		allows you to maintain the security of your information and also manage access to 
  		specific features for each staff member.</p>
  	<p>To begin, click the <em class="text-info">Add User</em> link above.</p>
  <% end %>
</div>