<% provide(:title, 'Add User') %>
<% provide(:header_current, 'People') %>
<% provide(:sidebar_current, 'Users') %>

<div class="row">
  <div class="page-header col-md-11">
  	 <h1>Users
      <small>Add</small>
    </h1>
  </div>
  <%= render 'users/tools_menu' %>
</div>

<div class="row">
  <%= form_for @user, :builder => BootstrapFormBuilder, :html => { :class => 'form-horizontal' } do |f| %>
  	<%= f.error_messages %>
  	<%= render 'form', :f => f %>
	
  	<%= f.submit_group do %>
  		<%= f.submit_primary 'Create' %>
      <%= link_to 'Cancel', users_path, class: 'btn btn-link' %>
  	<% end %>
  <% end %>
</div>