<% provide(:title, 'Add User') %>
<% provide(:header_current, 'People') %>
<% provide(:sidebar_current, 'Users') %>

<div class="row">
  <div class="page-header col-md-11">
  	 <h1>Users
      <small>Add</small>
    </h1>
  </div>
  <%= render 'users/tools_menu' %>
</div>

<div class="row">
  <%= simple_form_for @user do |f| %>
  	<%= show_error_messages @user %>
  	<%= render 'form', :f => f %>
	
    <%= form_actions do %>
      <%= f.button :submit %>
      <%= link_to 'Cancel', users_path, class: 'btn btn-link' %>
  	<% end %>
  <% end %>
</div>