<% provide(:title, 'Add Company Class') %>
<% provide(:header_current, 'Calendar') %>
<% provide(:sidebar_current, 'Company Classes') %>

<div class="page-header">
  <h1>Company Classes
    <small>Add</small>
  </h1>
</div>

<div class="row">
  <%= simple_form_for @company_class_form, url: schedule_company_classes_path do |f| %>
  	<%= show_error_messages @company_class_form %>
    <%= render 'form', :f => f %>

    <%= form_actions do %>
      <%= f.button :submit %>
      <%= link_to 'Cancel', schedule_company_classes_path, class: 'btn btn-link' if can? :read, CompanyClass %>
    <% end %>
  <% end %>
</div>