<% class_active = " class=""active""" %>
<div class="well" style="padding: 8px 0;">
	<ul class="nav nav-list">
		<li class="nav-header">Employees</li>
		<% if allow? "employees", "index" %>
			<li<%= class_active if yield(:current) == "Employees" %>><%= link_to "Active Employees", employees_path %></li>
		<% end %>
		<% if allow? "employees", "inactive" %>
			<li<%= class_active if yield(:current) == "InactiveEmployees" %>><%= link_to "Inactive Employees", inactive_employees_path %></li>
		<% end %>
		<% if allow? "employees", "new" %>
			<li<%= class_active if yield(:current) == "NewEmployee" %>><%= link_w_icon "Add Employee", new_employee_path, "plus" %></li>
		<% end %>
		<% if controller.action_name == "show" %>
			<% if allow? "employees", "edit" %>
				<li<%= class_active if yield(:current) == "EditEmployee" %>><%= link_w_icon "Edit Employee", edit_employee_path(@employee), "pencil" %></li>
			<% end %>
		<% end %>
		
	</ul>
</div>