<div class="cal-event cal-green" <%= calculate_offset(cclass.start_at, cclass.duration_min).html_safe %> data-toggle="modal" data-target="#modal_<%= cclass.id %>">
	<div class="title"><%= cclass.title %></div>
	<div class="time"><%= "#{cclass.start_time} to #{cclass.end_time}" %></div>
</div>

<% if cclass.break_duration > 0 %>
	<div class="cal-event cal-red" <%= calculate_offset(cclass.end_at, cclass.break_duration).html_safe %> data-toggle="modal" data-target="#modal_<%= cclass.id %>">
		<div class="title"><%= cclass.break_duration %> min Break</div>
		<div class="time"><%= cclass.break_time %></div>
	</div>
<% end %>

<%= render 'company_class_modal', :cclass => cclass %>