<div id="modal_<%= fitting.id %>" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><%= fitting.title %></h3>
		<span class="muted">Costume Fitting in <%= fitting.location.name %></span>
	</div>
	<div class="modal-body show-ui">
		<div class="row-fluid">
			<div class="label-ui span4">Date</div>
			<div class="text-ui span8"><%= fitting.start_date %></div>
		</div>
		
		<div class="row-fluid">
			<div class="label-ui span4">Time</div>
			<div class="text-ui span8"><%= "#{fitting.start_time} to #{fitting.end_time}" %></div>
		</div>

		<div class="row-fluid">
			<div class="label-ui span4">Invitees</div>
			<div class="text-ui span8">
				<ul class="unstyled">
					<% fitting.employees.each do |employee| %>
						<li><%= employee.full_name %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="modal-footer">
		<% if allow? "costume_fittings", "edit" %>
			<%= edit_button "Edit", edit_costume_fitting_path(fitting) %>
		<% end %>
		<a href="#" class="btn" data-dismiss="modal">Close</a>	
	</div>
</div>