<div class="tab-content">
  <div id="overview" class="tab-pane active">
  	<%= f.input :event_type, as: :hidden %>
  	<%= f.input :title %>
  	<%= f.association :location, 
          collection: @locations, 
          include_blank: true %>
  	<%= f.input :start_date, as: :date_picker,
          label: 'Date',
          input_html: { value: @event.start_date } %>
  	<%= f.input :start_time, as: :time_prepend,
          input_html: { value: @event.start_time } %>
  	<%= f.input :duration, as: :append,
           append_text:'min' %>
  	<div id="piece-field">
  		<%= f.input :piece_id, as: :chosen_select, 
            collection: @pieces, 
            include_blank: true %>
  	</div>
  	<%= f.input :invitee_ids, as: :chosen_select,
          collection: @employees,
          input_html: { multiple: true} %>
  </div>

  <div id="repeat" class="tab-pane">
  	<%= f.input :period, wrapper: :horizontal_small,
          collection: EventSeries::REPEATS %>
  	<div id="repeat-fields">
  		<%= f.input :end_date, as: :date_picker,
            label: 'End On' %>
  	</div>
  </div>
</div>