<div class="modal fade" id="modal_<%= event.id %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel_<%= event.id %>" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 class="modal-title" id="modalLabel_<%= event.id %>">
			<%= event.title %>
			<small><%= event.type.underscore.humanize.titleize %></small>
		</h3>
	</div>
	
	<div class="modal-body">
		<div class="dtl-form">		
			<div class="row">
				<div class="dtl-label col-md-3">Location</div>
				<div class="dtl-text col-md-9"><%= event.location.name %></div>
			</div>
			
			<div class="row">
				<div class="dtl-label col-md-3">Date</div>
				<div class="dtl-text col-md-9"><%= event.start_date %></div>
			</div>
			
			<div class="row">
				<div class="dtl-label col-md-3">Time</div>
				<div class="dtl-text col-md-9"><%= event.start_time %> to <%= event.end_time %></div>
			</div>
		
			<div class="row">
				<div class="dtl-label col-md-3">Duration</div>
				<div class="dtl-text col-md-9"><%= event.duration %> min</div>
			</div>

			<% if event.piece_id.present? %>
				<div class="row">
					<div class="dtl-label col-md-3">Piece</div>
					<div class="dtl-text col-md-9"><%= event.piece.name %></div>
				</div>
			<% end %>
			
			<div class="row">
				<div class="dtl-label col-md-3">Invitees</div>
				<div class="dtl-text col-md-9">
					<ul class="list-unstyled">
						<% event.employees.each do |employee| %>
							<li><%= employee.full_name %></li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
		
		<% if event.break? %>
			<br />
			<div class="alert alert-info">
				<strong>Break!</strong>
				<%= event.break_time %> for <%= event.break_duration %> minutes
			</div>
		<% end %>
	</div>
	
	<div class="modal-footer">
		<% if allow? event.type.underscore.pluralize, "edit" %>
			<%= edit_button "Edit", eval("edit_#{event.type.underscore}_path(event)") %>
		<% end %>
		
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</div>

</div> <!-- modal-content -->
</div> <!-- modal-dialog -->
</div> <!-- modal -->