<div class="modal fade" id="modal_<%= appt.id %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel_<%= appt.id %>" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 class="modal-title" id="modalLabel_<%= appt.id %>">
			<%= appt.title %>
			<small>Rehearsal</small>
		</h3>
	</div>
	
	<div class="modal-body">
		<%= render 'rehearsals/detail', rehearsal: appt %>
	</div>
	
	<div class="modal-footer">
		<% if allow? "rehearsals", "edit" %>
			<%= edit_button "Edit", edit_rehearsal_path(appt) %>
		<% end %>
	</div>

</div> <!-- modal-content -->
</div> <!-- modal-dialog -->
</div> <!-- modal -->