<div class="cal-event cal-blue rehearsal" <%= calculate_offset(rehearsal.start_at, rehearsal.duration_min).html_safe %>>
	<div class="title"><%= rehearsal.title %></div>
	<div class="time"><%= "#{rehearsal.start_time} to #{rehearsal.end_time}" %></div>
	<div class="piece">Rehearsing: <%= rehearsal.piece.name %></div>
	<div class="invitees"><%= pluralize(rehearsal.employees.count, "invitee") %></div>
	<div class="actions">
		<% if allow? "rehearsals", "show" %>
			<%= view_link "View", rehearsal_path(rehearsal) %>
		<% end %>
		<% if allow? "rehearsals", "edit" %>
			<%= edit_link "Edit", edit_rehearsal_path(rehearsal) %>
		<% end %>
	</div>
</div>