<% provide(:title, 'Daily Schedule') %>
<% provide(:header_current, 'Calendar') %>
<% provide(:sidebar_current, 'Daily') %>

<div class="page-header">
	<h1><%= yield(:title) %></h1>
</div>

<%= daily_calendar(@date, @locations) do |location| %>
	<% if @events.has_key?(location) %>

		<% @events[location].each do |event| %>
			<% if event.type == "Rehearsal" %>
				<%= render 'rehearsal', :rehearsal => event %>
			<% elsif event.type == "CompanyClass" %>
				<%= render 'company_class', :cclass => event %>
			<% elsif event.type == "CostumeFitting" %>
				<%= render 'costume_fitting', :fitting => event %>
			<% end %>
		<% end %>
		
	<% end %>
<% end %>