<% provide(:title, 'Events') %>
<h1>Events</h1>

<div id="events">
	<div class="row">
		<h2 class="center span9">
			<%= link_to "<< ", date: @date.prev_day %>
			<%= @date.to_s(:long) %>
			<%= link_to ">> ", date: @date.next_day %>
		</h2>
	</div>
	
	<div class="row">
		<div class="span8">			
			<div class="cal-list">
			
				<div class="row-fluid dayofweek-header">
					<%= @date.strftime('%A') %>
				</div>
				
				<% @events.each do |event| %>
					<% if event.type == "Rehearsal" %>
						<%= render 'rehearsal', :rehearsal => event %>
					<% elsif event.type == "CompanyClass" %>
						<%= render 'company_class', :cclass => event %>
					<% end %>
				<% end %>
				
			</div><!-- end cal-list -->
		</div><!-- end span8 -->
		
		<div class="span4">
			<% if allow? "company_classes", "new" %>
				<p><%= link_to 'New Company Class', new_company_class_path, :class => 'btn' %></p>
			<% end %>
			<% if allow? "rehearsals", "new" %>
				<p><%= link_to 'New Rehearsal', new_rehearsal_path, :class => 'btn' %></p>
			<% end %>
			
			Navigation Calendar?
		</div><!-- end span4 -->
	</div

</div>