<% type = (@event.event_type || 'Event').underscore.humanize.titleize %>
<% provide(:title, "Add #{type}") %>
<% provide(:header_current, 'Calendar') %>
<% provide(:sidebar_current, type.pluralize) %>

<div class="row">
  <div class="page-header col-md-11">
  	 <h1><%= type.pluralize %>
      <small>Add</small>
    </h1>
  </div>
  <%= render 'events/tools_menu' %>
</div>

<div class="row mash-show">
	<%= render 'events/tabs' %>
	
	<div class="mash-body">
    <%= simple_form_for @event, as: :event do |f| %>
    	<%= show_error_messages @event %>
    	<%= render 'form', :f => f %>
	
      <%= form_actions do %>
        <%= f.button :submit %>
        <%= link_to 'Cancel', events_path, class: 'btn btn-link' %>
      <% end %>
    <% end %>
  </div>
</div>