<div class="col-md-1">
  <%= gear_dropdown do %>
    <% if allow? "pieces", "new" %>
  		<li><%= new_link "Add Piece", new_piece_path %></li>
  	<% end %>
    
    <% if params['piece_id'].present? || ( ['pieces', 'characters', 'scenes'].include?(params['controller']) && ['show', 'edit'].include?(params['action']) ) %>
  		<% if allow? "pieces", "destroy" %>
  			<li><%= delete_link 'Delete Piece', @piece %></li>
  		<% end %>
  
      <li class="divider"></li>
    
    	<% if allow? "characters", "new" %>
    		<li><%= new_link "Add Character", new_piece_character_path(@piece) %></li>
    	<% end %>
      
    	<% if (params['controller'] == 'characters' && params['action'] == 'edit') && allow?("characters", "destroy") %>
    		<li><%= delete_link 'Delete Character', @character %></li>
    	<% end %>
      
      <li class="divider"></li>
    
    	<% if allow? "scenes", "new" %>
    		<li><%= new_link "Add Scene", new_piece_scene_path(@piece) %></li>
    	<% end %>
      
    	<% if (params['controller'] == 'scenes' && params['action'] == 'edit') && allow?("scenes", "destroy") %>
    		<li><%= delete_link 'Delete Scene', @scene %></li>
    	<% end %>
      
      <% if allow? "scenes", "index" %>
        <li><%= pdf_link "Download Scenes PDF", piece_scenes_path(@piece, format: "pdf") %></li>
      <% end %>
    <% end %>
  <% end %>
</div>