<% provide(:title, 'Inactive Pieces') %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Inactive Pieces') %>

<div class="page-header">
	<h1><%= yield(:title) %></h1>
</div>

<% if @pieces.length > 0 %>
	<table class="table table-striped">
		<thead>
	  	<tr>
	  		<th>Name</th>
	  		<th style="width:70px;">&nbsp;</th>
	  	</tr>
	  </thead>
	  <tbody>
	  	<% @pieces.each do |piece| %>
				<tr>
					<td><%= piece.name %></td>
					<td>
						<% if allow? "pieces", "activate" %>
							<%= activate_button nil, activate_piece_path(piece), :class => 'btn-xs', :id => "activate_#{piece.id}" %>
						<% end %>
						<% if allow? "pieces", "destroy" %>
							<%= delete_button nil, piece, :class => 'btn-xs', :id => "delete_#{piece.id}" %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= will_paginate(class: 'pagination', previous_label: "&laquo;", next_label: "&raquo;")%>
	
<% else %>
	<p>No pieces are inactive.</p>
<% end %>