<% provide(:title, 'Inactive Pieces') %>
<% provide(:header_current, 'Scheduling') %>
<% provide(:current, 'InactivePieces') %>

<h1>Inactive Pieces</h1>

<div class="span9">
	<table class="table table-striped">
		<thead>
	  	<tr>
	  		<th>Name</th>
	  		<th>&nbsp;</th>
	  	</tr>
	  </thead>
	  <tbody>
	  	<% @pieces.each do |piece| %>
				<tr>
					<td><%= piece.name %></td>
					<td>
						<% if allow? "pieces", "activate" %>
							<%= link_to 'Activate', activate_piece_path(piece), :class => 'btn btn-small btn-success', :id => "activate_#{piece.id}" %>
						<% end %>
						<% if allow? "pieces", "destroy" %>
							<%= link_to 'Delete', piece, method: :delete, confirm: "Delete?", :class => 'btn btn-small btn-danger', :id => "delete_#{piece.id}" %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<div class="row">
		<div class="span10 offset2">
			<%= will_paginate(class: 'pagination',
						previous_label: "&laquo;",
			    	next_label: "&raquo;"
					)%>
		</div>
	</div>
	
	<% unless @pieces.length > 0 %>
		<div class="alert">No pieces are inactive.</div>
	<% end %>
</div>

<div class="span3">
	<%= render 'shared/subnav' %>
</div>