<% provide(:title, 'Pieces') %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Pieces') %>

<div class="page-header">
	<h1><%= yield(:title) %></h1>
</div>
<div class="well well-sm mash-well-link">
	<% if allow? "pieces", "new" %>
		<%= new_link "Add Piece", new_piece_path %>
	<% end %>
</div>

<% if @pieces.length > 0 %>
	<table class="table table-striped">
		<thead>
	  	<tr>
	  		<th>Piece/Choreographer</th>
	  		<th>Music</th>
	  		<th>Average Length</th>
	  		<th class="mash-col-3-btn">&nbsp;</th>
	  	</tr>
	  </thead>
	  <tbody>
	  	<% @pieces.each do |piece| %>
				<tr>
					<td>
						<%= piece.name %>
						<%= "<br />".html_safe+content_tag(:span,"By: #{piece.choreographer}", class: 'text-muted') if piece.choreographer.present? %>
					</td>
					<td>
						<%= piece.music if piece.music %>
						<%= "<br />".html_safe+content_tag(:span,"By: #{piece.composer}", class: 'text-muted') if piece.composer.present? %>
					</td>
					<td><%= "#{piece.avg_length} min" if piece.avg_length.present? %></td>
					<td class="mash-col-3-btn">
						<% if allow? "pieces", "show" %>
							<%= view_button nil, piece_path(piece), :class => 'btn-xs', :id => "view_#{piece.id}" %>
						<% end %>
						<% if allow? "pieces", "edit" %>
							<%= edit_button nil, edit_piece_path(piece), :class => 'btn-xs', :id => "edit_#{piece.id}" %>
						<% end %>
						<% if allow? "pieces", "destroy" %>
							<%= delete_button nil, piece, :class => 'btn-xs', :id => "delete_#{piece.id}" %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= will_paginate(class: 'pagination', previous_label: "&laquo;", next_label: "&raquo;")%>
	
<% else %>
	<p>A piece is a work that is being rehearsed and/or performed.  It consists of one or more 
		scenes and one or more characters.
	</p>
	<p>Example: <em>Serenade</em> running from 8/1/2012 to 5/15/2013 <br />
		&nbsp;&nbsp;&nbsp; Scenes: 'Sonatina', 'Waltz', 'Russian Dance', and 'Elegy' <br />
		&nbsp;&nbsp;&nbsp; Characters: 26 Dancers
	</p>
	<p>To begin, click the <em class="text-info">Add Piece</em> link above.</p>
<% end %>