<% provide(:title, 'Active Pieces') %>
<% provide(:header_current, 'Scheduling') %>

<h1>Active Pieces</h1>

<div class="row">
	<div class="row text-center">
		<% if allow? "pieces", "new" %>
			<%= new_button "Add Piece", new_piece_path %>
		<% end %>
	</div>

	<table class="table table-striped">
		<thead>
	  	<tr>
	  		<th>Name</th>
	  		<th style="width:140px;">&nbsp;</th>
	  	</tr>
	  </thead>
	  <tbody>
	  	<% @pieces.each do |piece| %>
				<tr>
					<td><%= piece.name %></td>
					<td>
						<% if allow? "scenes", "index" %>
							<%= view_button nil, piece_scenes_path(piece), :class => 'btn-small', :id => "view_#{piece.id}" %>
						<% end %>
						<% if allow? "pieces", "edit" %>
							<%= edit_button nil, edit_piece_path(piece), :class => 'btn-small', :id => "edit_#{piece.id}" %>
						<% end %>
						<% if allow? "pieces", "inactivate" %>
							<%= inactivate_button nil, inactivate_piece_path(piece), :class => 'btn-small', :id => "inactivate_#{piece.id}" %>
						<% end %>
						<% if allow? "pieces", "destroy" %>
							<%= delete_button nil, piece, :class => 'btn-small', :id => "delete_#{piece.id}" %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<div class="row">
		<div class="span10">
			<%= will_paginate(class: 'pagination',
						previous_label: "&laquo;",
			    	next_label: "&raquo;"
					)%>
		</div>
	</div>

	<% unless @pieces.length > 0 %>
		<div class="alert">No pieces are active. Click on 'Add Piece' to get started.</div>
	<% end %>
</div>