<% provide(:title, 'Active Pieces') %>
<% provide(:header_current, 'Scheduling') %>
<% provide(:current, 'Pieces') %>

<h1>Active Pieces</h1>

<div class="span9">
	<table class="table table-striped">
		<thead>
	  	<tr>
	  		<th>Name</th>
	  		<th>&nbsp;</th>
	  	</tr>
	  </thead>
	  <tbody>
	  	<% @pieces.each do |piece| %>
				<tr>
					<td><%= piece.name %></td>
					<td>
						<% if allow? "scenes", "index" %>
							<%= link_to 'View', piece_scenes_path(piece), :class => 'btn btn-small', :id => "view_#{piece.id}" %>
						<% end %>
						<% if allow? "pieces", "edit" %>
							<%= link_to 'Edit', edit_piece_path(piece), :class => 'btn btn-small', :id => "edit_#{piece.id}" %>
						<% end %>
						<% if allow? "pieces", "inactivate" %>
							<%= link_to 'Inactivate', inactivate_piece_path(piece), :class => 'btn btn-small btn-warning', :id => "inactivate_#{piece.id}" %>
						<% end %>
						<% if allow? "pieces", "destroy" %>
							<%= link_to 'Delete', piece, method: :delete, confirm: "Delete?", :class => 'btn btn-small btn-danger', :id => "delete_#{piece.id}" %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<div class="row">
		<div class="span10">
			<%= will_paginate(class: 'pagination',
						previous_label: "&laquo;",
			    	next_label: "&raquo;"
					)%>
		</div>
	</div>

	<% unless @pieces.length > 0 %>
		<div class="alert">No pieces are active. Click on 'Add Piece' to get started.</div>
	<% end %>
</div>

<div class="span3">
	<%= render 'shared/subnav' %>
</div>