<% provide(:title, 'Pieces') %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Pieces') %>

<div class="row">
  <div class="page-header col-md-11">
  	 <h1><%= yield(:title) %></h1>
  </div>
  <%= render 'pieces/tools_menu' %>
</div>

<div class="row">
  <% if @pieces.length > 0 %>
  	<table class="table table-striped">
  		<thead>
  	  	<tr>
  	  		<th>Piece/Choreographer</th>
  	  		<th>Music</th>
  	  		<th>Average Length</th>
  	  		<th class="mash-col-1-btn">&nbsp;</th>
  	  	</tr>
  	  </thead>
  	  <tbody>
  	  	<% @pieces.each do |piece| %>
  				<tr>
  					<td>
  						<% if allow? "pieces", "show" %>
  							<%= link_to piece.name, piece_path(piece), :id => "view_#{piece.id}" %>
              <% else %>
                <%= piece.name %>
  						<% end %>
  						<%= "<br />".html_safe+content_tag(:span,"By: #{piece.choreographer}", class: 'text-muted') if piece.choreographer.present? %>
  					</td>
  					<td>
  						<%= piece.music if piece.music %>
  						<%= "<br />".html_safe+content_tag(:span,"By: #{piece.composer}", class: 'text-muted') if piece.composer.present? %>
  					</td>
  					<td><%= "#{piece.avg_length} min" if piece.avg_length.present? %></td>
  					<td class="mash-col-1-btn">
  						<% if allow? "pieces", "destroy" %>
  							<%= delete_button nil, piece, :class => 'btn-xs', :id => "delete_#{piece.id}" %>
  						<% end %>
  					</td>
  				</tr>
  			<% end %>
  		</tbody>
  	</table>
  	<%= will_paginate(class: 'pagination', previous_label: "&laquo;", next_label: "&raquo;")%>
	
  <% else %>
  	<p>A piece is a work that is being rehearsed and/or performed.  It consists of one or more 
  		scenes and one or more characters.
  	</p>
  	<p>Example: <em>Serenade</em> running from 8/1/2012 to 5/15/2013 <br />
  		&nbsp;&nbsp;&nbsp; Scenes: 'Sonatina', 'Waltz', 'Russian Dance', and 'Elegy' <br />
  		&nbsp;&nbsp;&nbsp; Characters: 26 Dancers
  	</p>
  	<p>To begin, click the <em class="text-info">Add Piece</em> link above.</p>
  <% end %>
</div>