<% provide(:title, "#{@piece.name} | Performances") %>
<%= render 'detail', :piece => @piece %>

<%= render 'nav_subtabs', :active_tab => "Performances" %>

<table class="table table-striped">
	<thead>
  	<tr>
  		<th>Name</th>
  		<th>Rehersal Start</th>
  		<th>Performance Dates</th>
  	</tr>
  </thead>
  <tbody>
  	<%= @@performances.each do |perf| %>
			<tr>
				<td><%= link_to perf.name, performances_path(perf) %></td>
				<td><%= perf.rehearsal_start_dt("%e-%b-%Y") %></td>
				<td><%= perf.performance_start_dt("%e-%b-%Y") %> to <%= perf.performance_end_dt.strftime("%e-%b-%Y") %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<% unless @performances.length > 0 %>
	<div class="alert">No records found</div>
<% end %>

<div class="row">
	<div class="span10 offset2">
		<%= will_paginate(class: 'pagination',
					previous_label: "&laquo;",
		    	next_label: "&raquo;"
				)%>
	</div>
</div>