<% provide(:title, @piece.name) %>
<%= render 'detail', :piece => @piece %>

<%= render 'nav_subtabs', :active_tab => "" %>

<div class="row">
	<div class="span6">
		<h3>Scenes (<%= @piece.scenes.count %>)</h3>
		<% if @piece.scenes.any? %>
			<ul class="unstyled">
				<%= render @scenes %>
			</ul>
			<%= will_paginate @scenes %>
		<% end %>
		<%= link_to "New Scene", new_piece_scene_path(@piece) %>
	</div>
</div>