<% provide(:title, "#{@piece.name} | Edit Character") %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Pieces') %>

<div class="page-header">
  <h1><%= @character.piece.name %>
    <small>Edit Character</small>
    <div class="pull-right">
      <%= delete_button 'Delete', @character, class: 'btn btn-danger', title: 'Delete Character' if can? :destroy, @character %>
    </div>
  </h1>
</div>

<div class="row mash-show">
	<%= render 'pieces/tabs' %>
	
	<div class="mash-body">
    <%= simple_form_for @character do |f| %>
    	<%= show_error_messages @character %>
    	<%= render 'form', :f => f %>
	    
      <%= form_actions do %>
        <%= f.button :submit %>
        <%= link_to 'Cancel', piece_characters_path(@piece), class: 'btn btn-link' if can? :read, @piece => Character %>
      <% end %>
    <% end %>
  </div>
</div>