<% provide(:title, "#{@piece.name} | Characters") %>
<% provide(:header_current, 'Scheduling') %>
<% provide(:current, 'Characters') %>

<h1><%= @piece.name %></h1>

<div class="row">
	<%= render 'pieces/tabs' %>
	
	<div class="row text-center">
		<% if allow? "characters", "new" %>
			<%= new_button "Add Character", new_piece_character_path(@piece) %>
		<% end %>
	</div>
	
	<table class="table table-striped">
		<thead>
	  	<tr>
	  		<th>Characters</th>
	  		<th style="width:70px;">&nbsp;</th>
	  	</tr>
	  </thead>
	  <tbody id="characters" data-update-url="<%= sort_characters_url %>">
	  	<% @characters.each do |character| %>
				<%= content_tag_for :tr, character do %>
					<td>
						<% if allow? "characters", "sort" %>
							<%= content_tag :i, nil, class: 'handle icon-resize-vertical' %>
						<% end %>
						<%= character.name %>
					</td>
					<td>
						<% if allow? "characters", "edit" %>
							<%= edit_button nil, edit_character_path(character), :class => 'btn-small', :id => "edit_#{character.id}" %>
						<% end %>
						<% if allow? "characters", "destroy" %>
							<%= delete_button nil, character, :class => 'btn-small', :id => "delete_#{character.id}" %>
						<% end %>
					</td>
				<% end %>
			<% end %>
		</tbody>
	</table>

	<% unless @characters.length > 0 %>
		<div class="alert">There are currently no characters. Click on 'Add Character' to get started.</div>
	<% end %>
</div>