<% provide(:title, "#{@piece.name} | Characters") %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Pieces') %>

<div class="page-header">
	<h1><%= @piece.name %></h1>
</div>
<div class="well well-sm mash-well-link">
	<%= render 'pieces/tabs' %>
	&nbsp;&nbsp;&nbsp;
	
	<% if allow? "characters", "new" %>
		<%= new_link "Add Character", new_piece_character_path(@piece) %>
	<% end %>
</div>

<% if @characters.length > 0 %>
	<table class="table table-striped">
		<thead>
	  	<tr>
	  		<th>Characters</th>
	  		<th style="width:70px;">&nbsp;</th>
	  	</tr>
	  </thead>
	  <tbody id="characters" data-update-url="<%= sort_characters_url %>">
	  	<% @characters.each do |character| %>
				<%= content_tag_for :tr, character do %>
					<td>
						<% if allow? "characters", "sort" %>
							<%= content_tag :i, nil, class: 'handle glyphicon glyphicon-resize-vertical', title: 'Drag to reorder' %>
						<% end %>
						<%= character.name %>
					</td>
					<td>
						<% if allow? "characters", "edit" %>
							<%= edit_button nil, edit_character_path(character), :class => 'btn-xs', :id => "edit_#{character.id}" %>
						<% end %>
						<% if allow? "characters", "destroy" %>
							<%= delete_button nil, character, :class => 'btn-xs', :id => "delete_#{character.id}" %>
						<% end %>
					</td>
				<% end %>
			<% end %>
		</tbody>
	</table>
	
<% else %>
	<p>There are currently no characters for this piece.
	</p>
	<p>To begin, click the <em class="text-info">Add Character</em> link above.</p>
<% end %>