<% provide(:title, 'Change Password') %>
<% provide(:header_current, 'Home') %>

<div class="row">
  <div class="page-header col-md-11">
  	 <h1><%= yield(:title) %></h1>
  </div>
</div>

<div class="row">
  <%= simple_form_for @password_form, :url => passwords_path, method: :post do |f| %>
    <%= show_error_messages @password_form %>
      
    <%= f.input :current_password, as: :password_prepend,
          label: 'Current Password' %>
    <%= f.input :new_password, as: :password_prepend,
          label: 'New Password' %>
    <%= f.input :new_password_confirmation, as: :password_prepend,
          label: 'Confirm Password' %>
	
     <%= form_actions do %>
    	<%= f.submit 'Update Password', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', dashboard_path, class: 'btn btn-link' %>
    <% end %>
  <% end %>
</div>