<% provide(:title, 'My Account | Change Subscription') %>
<% provide(:header_current, 'Home') %>
<% provide(:sidebar_current, 'Account') %>

<div class="row">
  <div class="page-header col-md-11">
  	 <h1>My Account
       <small>Change Subscription</small>
     </h1>
  </div>
  <%= render 'accounts/tools_menu' %>
</div>

<div class="row mash-show">
	<%= render 'accounts/tabs' %>
	
	<div class="mash-body">
    <p class="text-muted">Fill out the form below to change your subscription. 
    	The new subscription will be charged to your current credit card.
    </p>

    <% if allow? "subscriptions", "edit" %>
    	<%= simple_form_for @account, :url => subscriptions_update_path do |f| %>
    		<%= show_error_messages @account %>
    		<%= render 'form', :f => f %>
		
        <%= form_actions do %>
          <%= f.submit 'Update Subscription', class: 'btn btn-primary' %>
          <%= link_to 'Cancel', subscriptions_current_path, class: 'btn btn-link' %>
    		<% end %>
    	<% end %>
    <% end %>

    <% if allow? "subscriptions", "destroy" %>
    	<h2>Cancel Your Subscription</h2>
    	<%= link_to 'Cancel Subscription', subscriptions_cancel_path, class:'col-md-offset-3 btn btn-danger' %>
    <% end %>
  </div>
</div>