<% provide(:title, 'Events') %>
<% provide(:header_current, 'Calendar') %>
<% provide(:sidebar_current, 'Events') %>

<div class="page-header">
	 <h1><%= yield(:title) %>
   </h1>
</div>

<%= render 'events/search_form' %>

<div class="row">
  	<table class="table table-striped">
  		<thead>
  	  	<tr>
  	  		<th>Name</th>
  	  		<th>Status</th>
  	  		<th class="mash-col-2-btn">&nbsp;</th>
  	  	</tr>
  	  </thead>
  	  <tbody>
  	  	<% @events.each do |event| %>
  				<tr>
  					<td>
  						<% if can? :update, location %>
  							<%= link_to location.name, edit_location_path(location), :id => "edit_#{location.id}" %>
              <% else %>
                <%= location.name %>
  						<% end %>
            </td>
  					<td><%= location.status %></td>
  					<td class="mash-col-2-btn">
  						<%= activate_button nil, activate_location_path(location), :class => 'btn-xs', :id => "activate_#{location.id}" if !location.active && can?(:activate, location) %>
  						<%= inactivate_button nil, inactivate_location_path(location), :class => 'btn-xs', :id => "inactivate_#{location.id}" if location.active && can?(:inactivate, location) %>
  						<%= delete_button nil, location, :class => 'btn-xs', :id => "delete_#{location.id}" if can? :destroy, location %>
  					</td>
  				</tr>
  			<% end %>
  		</tbody>
  	</table>

  <% else %>
  	<p>Some businesses have multiple locations that operate as a single entity - with a single 
  		list of staff and students.  If you have more than one location, each physical address 
  		can be entered as a separate location. Each location can then maintain a set of rooms used 
  		for rehearsals, performaces, or classes with a seperate schedule.
  	</p>
  	<p>To begin, click the <em class="text-info">Add Location</em> link above.</p>
  <% end %>
</div>