<div class="dtl-form">
	<div class="row">
		<div class="dtl-label col-sm-4 col-md-4"><%= AgmaContract.human_attribute_name(:rehearsal_start_min) %></div>
		<div class="dtl-text col-sm-2 col-md-2"><%= @agma_contract.rehearsal_start_time %></div>
    <div class="dtl-text col-sm-6 col-md-6 help-block">Earliest time that a Rehearsal will be called</div>
	</div>
	
	<div class="row">
		<div class="dtl-label col-sm-4 col-md-4"><%= AgmaContract.human_attribute_name(:rehearsal_end_min) %></div>
		<div class="dtl-text col-sm-2 col-md-2"><%= @agma_contract.rehearsal_end_time %></div>
    <div class="dtl-text col-sm-6 col-md-6 help-block">Latest time that a Rehearsal will end</div>
	</div>
	
	<div class="row">
  	<div class="dtl-label col-sm-4 col-md-4"><%= AgmaContract.human_attribute_name(:rehearsal_max_hrs_per_week) %></div>
  	<div class="dtl-text col-sm-2 col-md-2"><%= "#{@agma_contract.rehearsal_max_hrs_per_week} hours/week" if @agma_contract.rehearsal_max_hrs_per_week.present? %></div>
    <div class="dtl-text col-sm-6 col-md-6 help-block">Maximum hours an Artist may be called upon to rehearse in a week</div>
	</div>

	<div class="row">
  	<div class="dtl-label col-sm-4 col-md-4"><%= AgmaContract.human_attribute_name(:rehearsal_max_hrs_per_day) %></div>
  	<div class="dtl-text col-sm-2 col-md-2"><%= "#{@agma_contract.rehearsal_max_hrs_per_day} hours/day" if @agma_contract.rehearsal_max_hrs_per_day.present? %></div>
    <div class="dtl-text col-sm-6 col-md-6 help-block">Maximum hours an Artist may be called upon to rehearse in a day</div>
	</div>
	
	<div class="row">
  	<div class="dtl-label col-sm-4 col-md-4"><%= AgmaContract.human_attribute_name(:rehearsal_increment_min) %></div>
  	<div class="dtl-text col-sm-2 col-md-2"><%= "#{@agma_contract.rehearsal_increment_min} minutes" if @agma_contract.rehearsal_increment_min.present? %></div>
    <div class="dtl-text col-sm-6 col-md-6 help-block">Increment in which a Rehearsal can be called and counted</div>
	</div>
	
	<div class="row" style="margin-top:15px;">
		<div class="col-md-10 col-md-offset-1">
			<%= render 'company/contract/rehearsal_breaks/table', contract: @agma_contract, rehearsal_breaks: @agma_contract.rehearsal_breaks %>
		</div>
	</div>
</div>