<% provide(:title, 'Account | Change Payment Method') %>
<% provide(:header_current, 'Home') %>
<% provide(:sidebar_current, 'Account') %>

<div class="page-header">
  <h1>Account
    <small>Change Payment Method</small>
  </h1>
</div>

<div class="row mash-show">
	<%= render 'accounts/tabs' %>
	
	<div class="mash-body">
    <p class="muted">Fill out the form below to change your subscription credit card.</p>

    <%= simple_form_for @account, :url => payments_path, :as => 'payment', :html => { :id => 'edit_payment' } do |f| %>
    	<%= show_error_messages @account %>
    	<%= render 'form', :f => f, account: @account %>
		
      <%= form_actions do %>
        <%= f.submit 'Update Payment', class: 'btn btn-primary' %>
        <%= link_to 'Cancel', subscriptions_path, class: 'btn btn-link' if can? :read, :subscription %>
    	<% end %>
    <% end %>
  </div>
</div>