<% provide(:title, 'Change Payment Method') %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Subscription') %>

<div class="page-header">
	<h1><%= yield(:title) %></h1>
</div>
<p class="muted">Fill out the form below to change your subscription credit card.</p>

<% if allow? "payments", "edit" %>
	<%= form_for @account, :url => payments_update_path, :builder => BootstrapFormBuilder, :html => { :class => 'form-horizontal', :id => 'edit_payment' } do |f| %>
		<%= f.error_messages %>
		<%= render 'form', :f => f %>
		
		<%= f.submit_group do %>
			<%= f.submit_primary 'Update' %>
		<% end %>
	<% end %>
<% end %>