<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Addresses
      <span class="pull-right">
        <%= new_link nil, [:new, parent, :address], title: 'Add Address' if can? :create, parent.addresses.build %>
      </span>
    </h3>
  </div>
<% if addresses.reload.length > 0 %>
  <table class="table table-striped">
  	<% addresses.each do |addr| %>
  		<tr><td>
  			<strong><%= addr.addr_type %> Address</strong>
  			&nbsp;<%= edit_link nil, [:edit, parent, addr], :id => "edit_address_#{addr.id}" if can? :update, addr %>
  			&nbsp;<%= delete_link nil, [parent, addr], :id => "delete_address_#{addr.id}" if can? :destroy, addr %>
  			<br />
  			<%= addr.addr %><br />
  			<% if addr.addr2.present? %>
          <%= addr.addr2 %><br />
        <% end %>
  			<%= "#{addr.city}, #{addr.state} #{addr.zipcode}" %>
  		</td></tr>
  	<% end %>
  </table>
<% else %>
  <div class="panel-body">
	  <p>To begin, click the <em class="text-info">Add Address</em> link above.</p>
  </div>
<% end %>
</div>