<% provide(:title, 'Edit Address') %>

<% if @address.addressable_type == "Person" %>
	<% provide(:header_current, 'People') %>
	<% provide(:sidebar_current, 'Employees') %>
<% end %>

<% if @address.addressable_type == "Account" %>
	<% provide(:header_current, 'Home') %>
	<% provide(:sidebar_current, 'Account') %>
<% end %>

<div class="row">
  <div class="page-header col-md-11">
  	 <h1>Address
      <small>Edit</small>
    </h1>
  </div>
</div>

<div class="row">
  <%= simple_form_for [@addressable, @address] do |f| %>
  	<%= show_error_messages @address %>
  	<%= render 'form', :f => f %>
	
    <%= form_actions do %>
      <%= f.button :submit %>
      <% if @address.addressable_type == "Person" %>
        <%= link_to 'Cancel', employee_path(@addressable.profile), class: 'btn btn-link' %>
      <% elsif @address.addressable_type == "Account" %>
        <%= link_to 'Cancel', account_path(@addressable), class: 'btn btn-link' %>
      <% end %>
    <% end %>
  <% end %>
</div>