<% provide(:title, 'Add Address') %>

<% if @address.addressable_type == "Person" %>
	<% provide(:header_current, 'People') %>
	<% provide(:sidebar_current, 'Employees') %>
<% end %>

<% if @address.addressable_type == "Account" %>
	<% provide(:header_current, 'Home') %>
	<% provide(:sidebar_current, 'Account') %>
<% end %>

<div class="row">
  <div class="page-header col-md-11">
  	 <h1>Address
      <small>Add</small>
    </h1>
  </div>
</div>

<div class="row">
  <%= form_for [@addressable, @address], builder: BootstrapFormBuilder, :html => { :class => 'form-horizontal' } do |f| %>
  	<%= f.error_messages %>
  	<%= render 'form', :f => f %>
	
  	<%= f.submit_group do %>
  		<%= f.submit_primary 'Create' %>
      
      <% if @address.addressable_type == "Person" %>
        <%= link_to 'Cancel', employee_path(@addressable.profile), class: 'btn btn-link' %>
      <% elsif @address.addressable_type == "Account" %>
        <%= link_to 'Cancel', account_path(@addressable), class: 'btn btn-link' %>
      <% end %>
  	<% end %>
  <% end %>
</div>