<% klass = ' class="active"'.html_safe %>
<nav class="navbar navbar-default mash-sub-navbar" role="navigation">
  <ul class="nav navbar-nav">
		<% if can? :read, Event %>
			<li<%= klass if yield(:sidebar_current) == "Calendar" %>>
				<%= link_to "Today", schedule_events_path %>
			</li>
		<% end %>
    
    <% if can? :create, CompanyClass %>
		  <li<%= klass if yield(:sidebar_current) == "Company Classes" %>>
        <%= link_to "Company Classes", schedule_company_classes_path %>
      </li>
		<% end %>
    
		<% if can? :create, Rehearsal %>
			<li<%= klass if yield(:sidebar_current) == "Rehearsals" %>>
        <%= link_to "Rehearsals", schedule_rehearsals_path %>
      </li>
		<% end %>
		
		<% if can? :create, CostumeFitting %>
			<li<%= klass if yield(:sidebar_current) == "Costume Fittings" %>>
        <%= link_to "Costume Fittings", schedule_costume_fittings_path %>
      </li>
		<% end %>
    
		<% if can? :create, LectureDemo %>
			<li<%= klass if yield(:sidebar_current) == "Lecture Demos" %>>
        <%= link_to "Lecture Demos", schedule_lecture_demos_path %>
      </li>
		<% end %>
  </ul>
</nav>