<% klass = ' class="active"'.html_safe %>
<nav class="navbar navbar-default mash-sub-navbar" role="navigation">
  <ul class="nav navbar-nav">
		<% if allow? "employees", "index" %>
			<li<%= klass if yield(:sidebar_current) == "Employees" %>>
				<%= link_to "Employees", employees_path %>
			</li>
		<% end %>
		
		<% if allow? "employees", "inactive" %>
			<li<%= klass if yield(:sidebar_current) == "Inactive Employees" %>>
				<%= link_to "Inactive Employees", inactive_employees_path %>
			</li>
		<% end %>
		
		<% if allow? "users", "index" %>
			<li<%= klass if yield(:sidebar_current) == "Users" %>>
				<%= link_to "Users", users_path %>
			</li>
		<% end %>
  </ul>
</nav>