<div class="panel panel-primary mash-sidebar hidden-print" role="complementary">
	<div class="panel-heading">
		<h3 class="panel-title"><%= content_tag(:span, nil, class: 'glyphicon glyphicon-wrench')%> Setup</h3>
	</div>
	
	<ul class="list-group">
		<% if allow? "accounts", "show" %>
			<li class="list-group-item<%= ' active' if yield(:sidebar_current) == "Company Info" %>">
				<%= link_to "Company Information", account_path(current_user.employee.account_id) %>
			</li>
		<% end %>
		
		<% if allow? "agma_contracts", "show" %>
			<li class="list-group-item<%= ' active' if yield(:sidebar_current) == "Contract" %>">
				<%= link_to "Contract Settings", agma_contract_path(AgmaContract.first) %>
			</li>
		<% end %>
		
		<% if allow? "subscriptions", "show" %>
			<li class="list-group-item<%= ' active' if yield(:sidebar_current) == "Subscription" %>">
				<%= link_to "My Subscription", subscriptions_current_path %>
			</li>
		<% end %>
		
		<% if allow? "locations", "index" %>
			<li class="list-group-item<%= ' active' if yield(:sidebar_current) == "Locations" %>">
				<%= link_to "Locations", locations_path(status: "active") %>
			</li>
		<% end %>
				
		<% if allow? "seasons", "index" %>
			<li class="list-group-item<%= ' active' if yield(:sidebar_current) == "Seasons" %>">
				<%= link_to "Seasons", seasons_path %>
			</li>
		<% end %>
		
		<% if allow? "pieces", "index" %>
			<li class="list-group-item<%= ' active' if yield(:sidebar_current) == "Pieces" %>">
				<%= link_to "Pieces", pieces_path %>
			</li>
		<% end %>
	</ul>
</div>