<% provide(:title, "#{@piece.name} | Roles") %>

<%= render 'pieces/detail', :piece => @piece %>

<%= render 'pieces/nav_subtabs', :piece => @piece, :active_tab => 'Roles' %>

<table class="table table-striped">
	<thead>
  	<tr>
  		<th>Role</th>
  		<th>Actions</th>
  	</tr>
  </thead>
  <tbody>
  	<% @roles.each do |role| %>
			<tr>
				<td><%= role.name %></td>
				<td>
					<%= link_to 'Edit', edit_piece_role_path(@piece, role), :class => 'btn btn-mini' %>
					&nbsp;
					<%= link_to 'Delete', piece_role_path(@piece, role), method: :delete, confirm: "Delete?", :class => 'btn btn-mini btn-danger' %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<% unless @roles.length > 0 %>
	<div class="alert">No records found</div>
<% end %>

<div class="row">
	<div class="span2">
		<%= link_to 'New', new_piece_role_path(@piece), :class => 'btn btn-mini btn-primary' %>
	</div>
	<div class="span10">
		<%= will_paginate(class: 'pagination',
					previous_label: "&laquo;",
		    	next_label: "&raquo;"
				)%>
	</div>
</div>