<% provide(:title, 'Add Costume Fitting') %>
<% provide(:header_current, 'Calendar') %>
<% provide(:sidebar_current, 'Costume Fittings') %>

<div class="page-header">
  <h1>Costume Fittings
    <small>Add</small>
  </h1>
</div>

<div class="row">
  <%= simple_form_for @costume_fitting_form, url: schedule_costume_fittings_path do |f| %>
  	<%= show_error_messages @costume_fitting_form %>
    <%= render 'form', :f => f %>
    
    <%= form_actions do %>
      <%= f.button :submit %>
      <%= link_to 'Cancel', schedule_costume_fittings_path, class: 'btn btn-link' if can? :read, CostumeFitting %>
    <% end %>
  <% end %>
</div>