<% provide(:title, "Contract Settings | Add Rehearsal Break") %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Contract') %>

<div class="row">
  <div class="page-header col-md-11">
  	 <h1>Contract Settings
       <small>Add Rehearsal Breaks</small>
     </h1>
  </div>
  <%= render 'agma_contracts/tools_menu' %>
</div>

<div class="row">
  <%= simple_form_for [@agma_contract, @rehearsal_break] do |f| %>
  	<%= show_error_messages @rehearsal_break %>
  	<%= render 'form', :f => f %>

    <%= form_actions do %>
      <%= f.button :submit %>
      <%= link_to 'Cancel', agma_contract_path(AgmaContract.first), class: 'btn btn-link' %>
  	<% end %>
  <% end %>
</div>