<% provide(:title, 'Add Rehearsal') %>
<% provide(:header_current, 'Calendar') %>
<% provide(:sidebar_current, 'Rehearsals') %>

<div class="page-header">
  <h1>Rehearsals
    <small>Add</small>
  </h1>
</div>

<div class="row">
  <%= simple_form_for @rehearsal_form, url: schedule_rehearsals_path do |f| %>
  	<%= show_error_messages @rehearsal_form %>
    <%= render 'form', :f => f %>

    <%= form_actions do %>
      <%= f.button :submit %>
      <%= link_to 'Cancel', schedule_rehearsals_path, class: 'btn btn-link' if can? :read, Rehearsal %>
    <% end %>
  <% end %>
</div>