<div class="tab-content mash-tab-body">
	<div id="rehearsal-week" class="tab-pane active">
		<div class="dtl-form">
			<div class="row">
				<div class="dtl-label col-md-4"><%= AgmaContract.human_attribute_name(:rehearsal_start_min) %></div>
				<div class="dtl-text col-md-8"><%= @agma_contract.rehearsal_start_time %></div>
			</div>
			
			<div class="row">
				<div class="dtl-label col-md-4"><%= AgmaContract.human_attribute_name(:rehearsal_end_min) %></div>
				<div class="dtl-text col-md-8"><%= @agma_contract.rehearsal_end_time %></div>
			</div>
			
			<div class="row">
				<div class="dtl-label col-md-4"><%= AgmaContract.human_attribute_name(:rehearsal_max_hrs_per_week) %></div>
				<div class="dtl-text col-md-8"><%= @agma_contract.rehearsal_max_hrs_per_week %> hours/week</div>
			</div>
		
			<div class="row">
				<div class="dtl-label col-md-4"><%= AgmaContract.human_attribute_name(:rehearsal_max_hrs_per_day) %></div>
				<div class="dtl-text col-md-8"><%= @agma_contract.rehearsal_max_hrs_per_day %> hours/day</div>
			</div>
			
			<div class="row">
				<div class="dtl-label col-md-4"><%= AgmaContract.human_attribute_name(:rehearsal_increment_min) %></div>
				<div class="dtl-text col-md-8"><%= @agma_contract.rehearsal_increment_min %> minutes</div>
			</div>
			
			<div class="row">
				<br />
				<div class="col-md-10 col-md-offset-1">
					<%= render 'rehearsal_breaks/table', contract: @agma_contract, rehearsal_breaks: @agma_contract.rehearsal_breaks %>
				</div>
			</div>
		</div>
	</div><!-- tab-pane -->

	<div id="company-class" class="tab-pane">
		<div class="dtl-form">
			<div class="row">
				<div class="dtl-label col-md-4"><%= AgmaContract.human_attribute_name(:class_break_min) %></div>
				<div class="dtl-text col-md-8"><%= @agma_contract.class_break_min %> minutes</div>
			</div>
		</div>
	</div><!-- tab-pane -->
	
	<div id="costume-fitting" class="tab-pane">
		<div class="dtl-form">
			<div class="row">
				<div class="dtl-label col-md-4"><%= AgmaContract.human_attribute_name(:costume_increment_min) %></div>
				<div class="dtl-text col-md-8"><%= @agma_contract.costume_increment_min %> minutes</div>
			</div>
		</div>
	</div><!-- tab-pane -->
</div>