<div class="tab-content mash-tab-body">
	<div id="rehearsal-week" class="tab-pane active">
		<%= f.select :rehearsal_start_min, @times, {}, 
					:field_size => 'col-md-3',
					:help =>'Class & Rehearsals will start no earlier than this' %>
		<%= f.select :rehearsal_end_min, @times, {}, 
					:field_size => 'col-md-3',
					:help => 'Class & Rehearsals will end no later than this' %>
		<%= f.number_field :rehearsal_max_hrs_per_week,
					:field_size => 'col-md-3',
					:append => 'hours/week',
					:help => 'Maximum hours an Artist may be called upon to rehearse in a week' %>
		<%= f.number_field :rehearsal_max_hrs_per_day,
					:field_size => 'col-md-3',
					:append => 'hours/day',
					:help => 'Maximum hours an Artist may be called upon to rehearse in a day' %>
		<%= f.number_field :rehearsal_increment_min,
					:field_size => 'col-md-3',
					:append => 'min',
					:help => 'Increment in which a Rehearsal can be called and counted' %>
		
		<h2>Breaks</h2>
		<%= f.fields_for :rehearsal_breaks do |builder| %>
			<%= render 'rehearsal_breaks/form', :f => builder %>
		<% end %>
	</div>
	
	<div id="company-class" class="tab-pane">
		<%= f.number_field :class_break_min,
					:field_size => 'col-md-2',
					:append => 'min',
					:help => 'Amount of break time following the end of class and the first rehearsal' %>
	</div>
	
	<div id="costume-fitting" class="tab-pane">
		<%= f.number_field :costume_increment_min,
					:field_size => 'col-md-2',
					:append => 'min',
					:help => 'Increment in which a Costume Fitting can be called and counted'  %>
	</div>
</div>