<% provide(:title, 'Edit Contract Settings') %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Contract') %>

<div class="page-header">
  <h1>Contract Settings
    <small>Edit</small>
  </h1>
</div>

<div class="row mash-show">
	<%= render 'agma_contracts/tabs' %>
  
  <div class="mash-body">
    <%= simple_form_for @agma_contract do |f| %>
    	<%= show_error_messages @agma_contract %>
    	<%= render 'form', :f => f %>
	
      <%= form_actions do %>
        <%= f.submit 'Update Contract', class: 'btn btn-primary' %>
        <%= link_to 'Cancel', agma_contract_path(AgmaContract.first), class: 'btn btn-link' if can? :read, @agma_contract %>
      <% end %>
   <% end %>
  </div>
</div>
