<% provide(:title, "#{@season_piece.season.name} | #{@season_piece.piece.name} | Casting".html_safe) %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Seasons') %>

<div class="page-header">
  <h1>Casting for <%= @season_piece.piece.name %>
    <small><%= @season_piece.season.name %></small>
    <div class="pull-right">
      <%= new_button "Add Cast", new_season_piece_cast_path(@season_piece) if can? :create, @season_piece.casts.build %>
      <%= render 'casts/tools_menu'%>
    </div>
  </h1>
</div>

<div class="row">
  <% if @season_piece.published? %>
    <small class="pull-right">
      <%= content_tag(:span, nil, class: 'glyphicon glyphicon-lock') %> <%= @season_piece.published_at.to_s(:full) %>
    </small>
  <% end %>
  
<% if @casts.length > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="mash-col-2-btn">&nbsp;</th>
        <th>&nbsp;</th>
        <% @casts.each do |cast| %>
        <th>
          <% if can? :read, cast %>
            <%= link_to cast.name, season_piece_cast_path(@season_piece, cast), :id => "view_#{cast.id}" %>
          <% else %>
            <%= cast.name %>
          <% end %>
          &nbsp;
					<%= delete_link nil, cast, :id => "delete_#{cast.id}" if can? :destroy, cast %>
        </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @castings.each do |character_name, casting_per_char| %>
      <% char = casting_per_char.first.character %>
      <tr>
        <td class="mash-col-2-btn text-center">
          <%= char.gender[0] if char.gender.present? %>
          <%= "K" if char.is_child? %>
          <%= "A" if char.animal? %>
          <%= content_tag :span, nil, class: 'glyphicon glyphicon-bullhorn', title: 'Speaking Role' if char.speaking? %>
        </td>
        <td>
          <% if can? :update, char %>
						<%= link_to char.name, edit_character_path(char), :id => "edit_#{char.id}" %>
          <% else %>
            <%= character_name %>
					<% end %>
        </td>
        <% casting_by_cast = casting_per_char.group_by(&:cast_name) %>
        <% @casts.each do |cast| %>
          <% c = casting_by_cast[cast.name].first if casting_by_cast.has_key?(cast.name) %>
          <td><%= if c && c.person then c.person.full_name else '' end  %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
	<p>No casts found.
	</p>
	<p>To begin, click the <em class="text-info">Add Cast</em> link above.</p>
<% end %>
</div>