<% provide(:title, "#{@sp.season.name} | #{@sp.piece.name} | #{@cast.name}".html_safe) %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Seasons') %>

<div class="row">
  <div class="page-header col-md-11">
  	 <h1><%= "#{@cast.name} for #{@sp.piece.name}" %>
      <small><%= @sp.season.name %></small>
    </h1>
  </div>
  <%= render 'casts/tools_menu' %>
</div>

<div class="row">
  <% if @castings.length > 0 %>
  	<table class="table table-striped">
  		<thead>
  			<tr>
  				<th class="col-md-6">Character</th>
  				<th class="col-md-6">Artist</th>
  			</tr>
  		</thead>
  		<tbody>
  			<% @castings.each do |casting| %>
  			<tr>
  				<td><%= casting.character.name %></td>
  				<td>
            <%= casting.person ? casting.person.full_name : 'TBD'  %>
  					<% if allow? "castings", "edit" %>
  						<%= edit_link nil, edit_casting_path(casting), :id => "edit_#{casting.id}" %>
  					<% end %>
          </td>
  			</tr>
  			<% end %>
  		</tbody>
  	</table>
			
  <% else %>
  	<p>This piece currently has no characters to cast.
  	</p>
  	<p>To begin, click the <em class="text-info">Add Character</em> link.</p>
  <% end %>
</div>