<div class="dtl-form">
	<div class="row">
		<div class="dtl-label col-md-3">Location</div>
		<div class="dtl-text col-md-9"><%= fitting.location.name %></div>
	</div>
	
	<div class="row">
		<div class="dtl-label col-md-3">Date</div>
		<div class="dtl-text col-md-9"><%= fitting.start_date %></div>
	</div>
	
	<div class="row">
		<div class="dtl-label col-md-3">From</div>
		<div class="dtl-text col-md-9"><%= fitting.start_time %></div>
	</div>

	<div class="row">
		<div class="dtl-label col-md-3">To</div>
		<div class="dtl-text col-md-9"><%= fitting.end_time %></div>
	</div>
	
	<div class="row">
		<div class="dtl-label col-md-3">Invitees</div>
		<div class="dtl-text col-md-9">
			<ul class="list-unstyled">
				<% fitting.employees.each do |employee| %>
					<li><%= employee.full_name %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>