<table class="table table-hover">
  <thead>
    <tr>
      <th colspan= "2"><%= title %></th>
    </tr>
  </thead>
  <tbody>
    <% if warnings.present? %>
      <% warnings.each do |dt, messages| %>
        <% messages.each do |msg| %>
          <tr>
            <% if defined?(show_week).nil? %>
              <td><%= dt.to_s %></td>
            <% else %>
              <td><%= dt.beginning_of_week.to_s %> - <%= dt.end_of_week.to_s %></td>
            <% end %>
            <td><%= simple_format(msg) %></td>
          </tr>
        <% end %>
      <% end %>
    
    <% else %>
      <tr>
        <td colspan="2">Everything looks great! No warnings found.</td>
      </tr>
    <% end %>
  </tbody>
</table>