<% provide(:title, 'Warnings Report') %>
<% provide(:header_current, 'Reports') %>
<% provide(:sidebar_current, 'Warnings') %>

<div class="page-header">
  <h1>Warnings Report</h1>
</div>

<%= render 'search_form' %>

<div class="row">
<% if start_date %>

  <% panel_title = start_date.to_s(:date_words) + (" to #{end_date.to_s(:date_words)}" if end_date != start_date).to_s %>
  <%= render :layout => 'layouts/shared/panel-block', locals: { panel_title: panel_title } do %>
  
    <%= render 'warnings_table',
                  title: 'Location Double Booked',
                  warnings: @location_double_booked %>
    
    <% if @contract.class_break_min.present? %>
      <%= render 'warnings_table',
                  title: 'Rehearsals Scheduled During Company Class Break',
                  warnings: @company_class_break_violations %>
    <% end %>
    <% if @contract.rehearsal_max_hrs_per_day.present? %>
      <%= render 'warnings_table',
                  title: 'Rehearsal Week: Artist Over Maximum Rehearsal Hours in a Day',
                  warnings: @rehearsal_week_artist_over_hours_per_day %>
    <% end %>
    <% if @contract.rehearsal_max_hrs_per_week.present? %>
      <%= render 'warnings_table', title: 'Rehearsal Week: Artist Over Maximum Rehearsal Hours in a Week',
                  warnings: @rehearsal_week_artist_over_hours_per_week,
                  show_week: true %>
    <% end %>
    
  <% end %>
  
<% end %>
</div>