<div class="panel panel-primary mash-sidebar hidden-print" role="complementary">
	<div class="panel-heading">
		<h3 class="panel-title"><%= content_tag(:span, nil, class: 'glyphicon glyphicon-filter')%> Filter</h3>
	</div>
	
	<ul class="list-group">
		<li class="list-group-item text-center">
			<div class="btn-group btn-group-sm">
				<% active_class = (params[:status] == "active") ? ' active' : "" %>
				<%= link_to "Active", locations_path(status: 'active'), class: "btn btn-default#{active_class}" %>
					
				<% active_class = (params[:status] == "inactive") ? ' active' : "" %>
				<%= link_to "Inactive", locations_path(status: 'inactive'), class: "btn btn-default#{active_class}" %>
					
				<% active_class = (!params.include?(:status) || (params[:status] != "active" && params[:status] != "inactive")) ? ' active' : "" %>
				<%= link_to "All", locations_path, class: "btn btn-default#{active_class}" %>
			</div>
		</li>
	</ul>
</div>

<div class="panel panel-primary mash-sidebar hidden-print" role="complementary">
	<div class="panel-heading">
		<h3 class="panel-title">Actions</h3>
	</div>

	<ul class="list-group">
		<li class="list-group-item">
			<% if allow? "locations", "new" %>
				<%= new_link "Add Location", new_location_path %>
			<% end %>
		</li>
	</ul>
</div>