<% provide(:title, 'Locations') %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Locations') %>
<% provide(:sidebar_extra, 'locations/sidebar') %>

<div class="page-header">
	<h1><%= yield(:title) %></h1>
</div>
<div class="well well-sm mash-well-link">
	<% if allow? "locations", "new" %>
		<%= new_link "Add Location", new_location_path %>
	<% end %>
</div>

<% if @locations.length > 0 %>
	<table class="table table-striped">
		<thead>
	  	<tr>
	  		<th>Name</th>
	  		<th>Status</th>
	  		<th style="width:105px;">&nbsp;</th>
	  	</tr>
	  </thead>
	  <tbody>
	  	<% @locations.each do |location| %>
				<tr>
					<td><%= location.name %></td>
					<td><%= active_inactive(location.active) %></td>
					<td>
						<% if allow? "locations", "edit" %>
							<%= edit_button nil, edit_location_path(location), :class => 'btn-xs', :id => "edit_#{location.id}" %>
						<% end %>
						<% if !location.active && allow?("locations", "activate") %>
							<%= activate_button nil, activate_location_path(location), :class => 'btn-xs', :id => "activate_#{location.id}" %>
						<% end %>
						<% if location.active && allow?("locations", "inactivate") %>
							<%= inactivate_button nil, inactivate_location_path(location), :class => 'btn-xs', :id => "inactivate_#{location.id}" %>
						<% end %>
						<% if allow? "locations", "destroy" %>
							<%= delete_button nil, location, :class => 'btn-xs', :id => "delete_#{location.id}" %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= will_paginate(class: 'pagination', previous_label: "&laquo;", next_label: "&raquo;")%>

<% else %>
	<p>Some businesses have multiple locations that operate as a single entity - with a single 
		list of staff and students.  If you have more than one location, each physical address 
		can be entered as a separate location. Each location can then maintain a set of rooms used 
		for rehearsals, performaces, or classes with a seperate schedule.
	</p>
	<p>To begin, click the <em class="text-info">Add Location</em> link above.</p>
<% end %>