<% provide(:title, 'Active Locations') %>
<% provide(:header_current, 'Administration') %>

<h1>Active Locations</h1>

<div class="row">
	<div class="row text-center">
		<% if allow? "locations", "new" %>
			<%= new_button "Add Location", new_location_path %>
		<% end %>
	</div>
	
	<table class="table table-striped">
		<thead>
	  	<tr>
	  		<th>Name</th>
	  		<th style="width:105px;">&nbsp;</th>
	  	</tr>
	  </thead>
	  <tbody>
	  	<% @locations.each do |location| %>
				<tr>
					<td><%= location.name %></td>
					<td>
						<% if allow? "locations", "edit" %>
							<%= edit_button nil, edit_location_path(location), :class => 'btn-small', :id => "edit_#{location.id}" %>
						<% end %>
						<% if allow? "locations", "inactivate" %>
							<%= inactivate_button nil, inactivate_location_path(location), :class => 'btn-small', :id => "inactivate_#{location.id}" %>
						<% end %>
						<% if allow? "locations", "destroy" %>
							<%= delete_button nil, location, :class => 'btn-small', :id => "delete_#{location.id}" %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<div class="row">
		<div class="span10 offset2">
			<%= will_paginate(class: 'pagination',
						previous_label: "&laquo;",
			    	next_label: "&raquo;"
					)%>
		</div>
	</div>
	
	<% unless @locations.length > 0 %>
		<div class="alert">No locations are active. Click on 'Add Location' to get started.</div>
	<% end %>
</div>