<% provide(:title, 'Add Location') %>
<% provide(:header_current, 'Administration') %>
<% provide(:current, 'NewLocation') %>

<h1>Add Location</h1>

<div class="span9">
	<%= form_for @location, :builder => BootstrapFormBuilder, :html => { :class => 'form-horizontal' } do |f| %>
		<%= f.error_messages %>
		<%= render 'form', :f => f %>
		<%= f.submit 'Create', :class => 'btn btn-primary' %>
	<% end %>
</div>

<div class="span3">
	<div class="alert alert-info"><i class="icon-info-sign"></i> 
		Add the locations of your rehearsals, performances, and costume fittings.
	</div>

	<%= render 'shared/subnav' %>
</div>