<% provide(:title, 'Add Location') %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Locations') %>

<div class="page-header">
  <h1>Locations
    <small>Add</small>
  </h1>
</div>

<div class="row">
  <%= simple_form_for @location do |f| %>
  	<%= show_error_messages @location %>
    <%= render 'form', :f => f %>

    <%= form_actions do %>
      <%= f.button :submit %>
      <%= link_to 'Cancel', locations_path, class: 'btn btn-link' if can? :read, Location %>
    <% end %>
  <% end %>
</div>