<% class_active = ' class=active' %>
<ul class="nav navbar-nav">
  <% if can? :read, :dashboard %>
  	<li<%= class_active if yield(:header_current) == "Home" %>>
  		<%= icon_link('Home', 'home', dashboard_path) %>
  	</li>
  <% end %>
	
	<% if can? :read, Event %>
		<li<%= class_active if yield(:header_current) == "Calendar" %>>
			<%= icon_link 'Calendar', 'calendar', events_path %>
		</li>
	<% end %>
	
	<% if can? :index, Employee %>
		<li<%= class_active if yield(:header_current) == "People" %>>
			<%= icon_link 'People', 'user', employees_path %>
		</li>
	<% end %>
	
	<% if can? :read, Location %>
		<li<%= class_active if yield(:header_current) == "Setup" %>>
			<%= icon_link 'Setup', 'wrench', locations_path(status: 'active') %>
		</li>
	<% elsif can? :read, AgmaContract %>
		<li<%= class_active if yield(:header_current) == "Setup" %>>
			<%= icon_link 'Setup', 'wrench', agma_contract_path(AgmaContract.first) %>
		</li>
	<% elsif can? :read, Season %>
		<li<%= class_active if yield(:header_current) == "Setup" %>>
			<%= icon_link 'Setup', 'wrench', seasons_path %>
		</li>
	<% elsif can? :read, Piece %>
		<li<%= class_active if yield(:header_current) == "Setup" %>>
			<%= icon_link 'Setup', 'wrench', pieces_path %>
		</li>
	<% end %>
	
	<% if current_user.superadmin? %>
		<li<%= class_active if yield(:header_current) == "Administration" %>>
			<%= icon_link 'Administration', 'cog', admin_accounts_path %>
		</li>
	<% end %>
</ul>

<ul class="nav navbar-nav navbar-right">
	<li class="divider-vertical"></li>
		<li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %>
      <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <% if can? :show, current_user.person.profile %>
          <li><%= link_to 'My Profile', employee_path(current_user.person.profile) %></li>
        <% end %>
        <% if can? :create, :password %>
          <li><%= link_to 'Change Password', new_password_path %></li>
        <% end %>
      </ul>
    </li>
  <% if can? :destroy, :session %>
	  <li><%= link_to "Sign Out", logout_path %></li>
  <% end %>
</ul>