<% class_active = ' class=active' %>
<ul class="nav navbar-nav">
	<li<%= class_active if yield(:header_current) == "Home" %>>
		<%= icon_link('Home', 'home', dashboard_path) %>
	</li>
	
	<% if allow? "events", "index" %>
		<li<%= class_active if yield(:header_current) == "Calendar" %>>
			<%= icon_link 'Calendar', 'calendar', events_path %>
		</li>
	<% end %>
	
	<% if allow? "employees", "index" %>
		<li<%= class_active if yield(:header_current) == "People" %>>
			<%= icon_link 'People', 'user', employees_path %>
		</li>
	<% end %>
	
	<% if allow? "accounts", "show" %>
		<li<%= class_active if yield(:header_current) == "Setup" %>>
			<%= icon_link 'Setup', 'wrench', account_path(current_user.employee.account_id) %>
		</li>
	<% end %>
	
	<% if allow? "admin_accounts", "index" %>
		<li<%= class_active if yield(:header_current) == "Administration" %>>
			<%= icon_link 'Administration', 'cog', admin_accounts_path %>
		</li>
	<% end %>
</ul>

<ul class="nav navbar-nav navbar-right">
	<li class="divider-vertical"></li>
	<% if allow? "users", "edit" %>
		<li><%= link_to current_user.username, edit_user_path(current_user) %></li>
	<% end %>
	<li><%= link_to "Sign Out", logout_path %></li>
</ul>