<div class="control-group required">
	<%= f.label :name, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :name %>
	</div>
</div>

<div class="control-group required">
	<%= f.label :main_phone, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :main_phone, :class => 'input-small', :placeholder => 'xxx-xxx-xxxx' %>
	</div>
</div>
	
<div class="control-group required">
	<%= f.label :time_zone, :class => 'control-label' %>
	<div class="controls">
		<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {}, { :class => 'input-xlarge' } %>
	</div>
</div>