<% provide(:title, 'Edit Account') %>
<% provide(:header_current, 'Home') %>
<% provide(:sidebar_current, 'Account') %>

<div class="row">
  <div class="page-header col-md-11">
  	 <h1>My Account
      <small>Edit</small>
    </h1>
  </div>
  <%= render 'accounts/tools_menu' %>
</div>

<div class="row mash-show">
	<%= render 'accounts/tabs' %>
	
	<div class="mash-body">
    <%= simple_form_for @account do |f| %>
    	<%= show_error_messages @account %>
    	<%= render 'form', :f => f %>
	
      <%= form_actions do %>
        <%= f.button :submit %>
        <%= link_to 'Cancel', account_path(current_user.account_id), class: 'btn btn-link' %>
    	<% end %>
    <% end %>
  </div>
</div>