<% provide(:title, 'Edit Company Information') %>
<% provide(:header_current, 'Administration') %>
<% provide(:current, 'EditCompany') %>

<h1>Edit Company Information</h1>

<div class="span9">
	<%= form_for @account, :html => { :class => 'form-horizontal' } do |f| %>
		<%= render 'shared/error_messages', :object => f.object %>
		
		<%= render 'form', :f => f %>
		<%= render 'shared/form_submit', :f => f, :action_text => 'Update' %>
	<% end %>
</div>

<div class="span3">
	<%= render 'shared/subnav' %>
</div>