<% provide(:title, 'Create Account') %>
<% provide(:header_current, 'Pricing') %>

<h1>Create an Account</h1>

<div class="span9">
	<%= form_for @account, :builder => BootstrapFormBuilder, :html => { :class => 'form-horizontal' } do |f| %>
		<%= f.error_messages %>
		
		<fieldset>
			<legend>1. Company Information</legend>
			<%= render 'form', :f => f %>
			
			<%= f.fields_for :phones do |builder| %>
				<%= render 'phone_fields', :f => builder %>
			<% end %>
		</fieldset>
		
		<fieldset>
			<legend>2. Business Address</legend>
			<%= f.fields_for :addresses do |builder| %>
				<%= render 'address_fields', :f => builder %>
			<% end %>
		</fieldset>
		
		<%= f.fields_for :employees do |builder| %>
			<fieldset>
			<legend>3. Director</legend>
				<%= render 'employees/form', :f => builder %>
			</fieldset>
			
			<fieldset>
			<legend>4. Select a Username</legend>
				<%= builder.fields_for :user do |user_builder| %>
					<%= render 'user_fields', :f =>  user_builder %>
				<% end %>
			</fieldset>
		<% end %>
				
		<p class="offset2"><small>By clicking 'Create Account', you agree to the <a href="#">Terms of Service</a>
			and <a href="#">Privacy Policy</a>.
		</small></p>
		
		<%= f.submit 'Create Account', :class => 'btn btn-success' %>
	<% end %>
</div>

<div class="span3">
	<div class="well">
		<h3>Free 30 day trial</h3>
		<p>There are no credit cards required for signup, 
			and your account can be cancelled at anytime.
		</p>
				
		<h3>Privacy</h3>
		<p>We will never share or sell your private information to anyone. 
			Please review our <a href="#">privacy policy</a> for more details.
		</p>
	</div>
</div>