<% provide(:title, 'Create Account') %>
<% provide(:header_current, 'Pricing') %>

<div class="row">
	<div class="col-md-9">
		<div class="page-header">
			<h1>Create an Account</h1>
		</div>

		<%= form_for @signup_form, url: accounts_path, :builder => BootstrapFormBuilder, :html => { :class => 'form-horizontal' } do |f| %>
			<%= f.error_messages %>
			
			<%= render 'signup_form', :f => f %>
					
			<p class="offset2"><small>
        By clicking 'Create Account', you agree to the <a href="#">Terms of Service</a>
				and <a href="#">Privacy Policy</a>.
			</small></p>
			
			<%= f.submit_group do %>
				<%= f.submit 'Create Account', class: 'btn btn-success' %>
			<% end %>
		<% end %>
	</div>
	
	<div class="col-md-3">
		<br />
		<div class="panel panel-default hidden-print" role="complementary">
			<div class="panel-heading"><h4>Free 30 day trial</h4></div>
			<div class="panel-body">
				<p>Your account can be cancelled at anytime.</p>
			</div>
		</div>
		
		<div class="panel panel-default hidden-print" role="complementary">
			<div class="panel-heading"><h4>Privacy</h4></div>
			<div class="panel-body">
				<p>We will never share or sell your private information to anyone. 
				Please review our <a href="#">privacy policy</a> for more details.
			</p>
			</div>
		</div>
	</div>
</div>