<% provide(:title, 'Company Information') %>
<% provide(:header_current, 'Administration') %>
<% provide(:current, 'Company') %>

<h1>Company Information</h1>

<div class="show-ui span9">
	<div class="row">
		<div class="label-ui span2"><%= Account.human_attribute_name(:name) %></div>
		<div class="text-ui span6"><%= @account.name %></div>
	</div>
	<div class="row">
		<div class="label-ui span2"><%= Account.human_attribute_name(:main_phone) %></div>
		<div class="text-ui span6"><%= @account.main_phone %></div>
	</div>
	<div class="row">
		<div class="label-ui span2"><%= Account.human_attribute_name(:time_zone) %></div>
		<div class="text-ui span6"><%= @account.time_zone %></div>
	</div>
	<% if allow? "accounts", "edit" %>
		<div class="row row-action">
			<div class="offset2">
				<%= link_to "Edit", edit_account_path(@account), :class => 'btn' %>
			</div>
		</div>
	<% end %>
	
	<div class="row">
		<div class=" span3">
			<h2>Addresses</h2>
			<% @account.addresses.each do |addr| %>
				<address>
					<strong><%= addr.addr_type %> Address</strong><br />
					<%= addr.addr %><br />
					<%= addr.addr2 if addr.addr2.present? %>
					<%= tag(:br) if addr.addr2.present? %>
					<%= "#{addr.city}, #{addr.state} #{addr.zipcode}" %><br />
					<%= link_to "Edit", [:edit, @account, addr], :id => "edit_address_#{addr.id}" %>
					<%= link_to 'Delete', [@account, addr], method: :delete, confirm: "Delete?", :id => "delete_address_#{addr.id}" %>
				</address>
			<% end %>
			<%= link_to "Add Address", [:new, @account, :address] %>
		</div>
	</div>
</div>

<div class="span3">
	<%= render 'shared/subnav' %>
</div>