<% provide(:title, 'Company Information') %>
<% provide(:header_current, 'Administration') %>

<h1>Company Information</h1>

<div class="show-ui">
	<div class="row">
		<div class="label-ui span2"><%= Account.human_attribute_name(:name) %></div>
		<div class="text-ui span6"><%= @account.name %></div>
	</div>
	<div class="row">
		<div class="label-ui span2"><%= Account.human_attribute_name(:time_zone) %></div>
		<div class="text-ui span6"><%= @account.time_zone %></div>
	</div>
	<div class="row">
		<div class="label-ui span2"><%= Account.human_attribute_name(:status) %></div>
		<div class="text-ui span6"><%= @account.status %></div>
	</div>
<% if @account.cancelled_at %>
	<div class="row">
		<div class="label-ui span2">Cancelled On</div>
		<div class="text-ui span6"><%= @account.cancelled_at.to_s(:timestamp) %></div>
	</div>
<% end %>
	
	<div class="row text-center">
		<% if allow? "accounts", "edit" %>
			<%= edit_button "Edit", edit_account_path(@account) %>
		<% end %>
	</div>
	
	<div class="row-fluid">
		<div class="span4">
			<h2>Addresses</h2>
			<% @account.addresses.each do |addr| %>
				<address>
					<strong><%= addr.addr_type %> Address</strong>
					&nbsp;<%= edit_link nil, [:edit, @account, addr], :id => "edit_address_#{addr.id}" %>
					&nbsp;<%= delete_link nil, [@account, addr], :id => "delete_address_#{addr.id}" %>
					<br />
					<%= addr.addr %><br />
					<%= addr.addr2 if addr.addr2.present? %>
					<%= tag(:br) if addr.addr2.present? %>
					<%= "#{addr.city}, #{addr.state} #{addr.zipcode}" %><br />
				</address>
			<% end %>
			<%= new_link "Add Address", [:new, @account, :address] %>
		</div>
		
		<div class="span4">
			<h2>Phone Numbers</h2>			
			<% @account.phones.each do |phone| %>
				<address>
					<strong><%= phone.phone_type %>: </strong><%= phone.phone_num %>
					<%= edit_link nil, [:edit, @account, phone], :id => "edit_phone_#{phone.id}" %>
					<%= delete_link nil, [@account, phone], :id => "delete_phone_#{phone.id}" %>
				</address>
			<% end %>
			<%= new_link "Add Phone Number", [:new, @account, :phone] %>
		</div>
	</div>
</div>